---
import PageTitle from "../../components/PageTitle.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    // Define las rutas dinámicas que deseas generar.
    const paths = [{ params: { title: "Transforming healthcare with predictive analytics" } }, { params: { title: "ai-consulting" } }, { params: { title: "ml-modeling" } }];

    return paths;
}
---

<Layout>
    <PageTitle title={Astro.params.title} baseTitle="Casos de éxito" baseRoute="/cases" />
    <div class="content-wrapper content-wrapper-remove-bottom-margin content-wrapper-sidebar-position-left">
        <!-- Content Container -->
        <div class="content">
            <div
                id="post-17333"
                class="single-post post-17333 neuros_case_study type-neuros_case_study status-publish has-post-thumbnail hentry neuros_case_study_tag-solutions neuros_case_study_tag-urban"
            >
                <div class="post-media-wrapper">
                    <picture
                        ><source media="(max-width: 575px)" sizes="(max-width: 575px) 575px" srcset="./../../wp-content/uploads/2024/07/optijpeg-min.jpg 575w" /><source
                            media="(max-width: 991px)"
                            sizes="(max-width: 991px) 991px"
                            srcset="./../../wp-content/uploads/2024/07/optijpeg-min.jpg 991w"
                        /><img
                            alt="optijpeg-min"
                            title="optijpeg-min"
                            src="./../../wp-content/uploads/2024/07/optijpeg-min.jpg"
                            class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                        /></picture>
                </div>
                <div class="post-meta-header">
                    <div class="post-meta-items-wrapper">
                        <div class="post-meta-items">
                            <div class="post-meta-item post-meta-item-date"><a href="./../../2024/07/30/index.html">30 de julio de 2024</a></div>
                            <div class="post-meta-item post-meta-item-author"><a href="./../../author/admin/index.html">admin</a></div>
                        </div>
                    </div>
                </div>

                <div class="post-content">
                    <div data-elementor-type="wp-post" data-elementor-id="17333" class="elementor elementor-17333">
                        <section
                            class="elementor-section elementor-top-section elementor-element elementor-element-2938de7 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="2938de7"
                            data-element_type="section"
                        >
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1cf48dd" data-id="1cf48dd" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div
                                            class="elementor-element elementor-element-7ca8c9a elementor-widget elementor-widget-neuros_heading"
                                            data-id="7ca8c9a"
                                            data-element_type="widget"
                                            data-widget_type="neuros_heading.default"
                                        >
                                            <div class="elementor-widget-container">
                                                <div class="neuros-heading-widget">
                                                    <h2 class="neuros-heading"><span class="neuros-heading-content has_gradient_color_text">The challenge</span></h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="elementor-element elementor-element-85eaeb2 elementor-widget elementor-widget-text-editor"
                                            data-id="85eaeb2"
                                            data-element_type="widget"
                                            data-widget_type="text-editor.default"
                                        >
                                            <div class="elementor-widget-container">
                                                <p>
                                                    <strong
                                                        >In today&#8217;s fast-paced and data-driven world, businesses are constantly seeking innovative ways to gain a competitive edge, make smarter
                                                        decisions, and deliver exceptional customer experiences. One technology that is transforming industries across the globe is neural networks.
                                                        Harnessing the power of artificial intelligence, neural networks have the ability to analyze vast amounts of data, identify complex patterns,
                                                        and make accurate predictions, enabling businesses to unlock new opportunities and drive growth.</strong>
                                                </p>
                                                <p>
                                                    At our company, we specialize in providing comprehensive neural network services that can revolutionize your business. Whether you&#8217;re looking
                                                    to enhance your data analysis capabilities, automate repetitive tasks, improve customer engagement, or optimize operational processes, our team of
                                                    experts is here to help you leverage the full potential of neural networks.<br />Data lies at the heart of neural networks, and our services start
                                                    with understanding your unique data landscape. We work closely with you to identify and collect relevant data sources, ensuring that your neural
                                                    network models are built on a solid foundation. Our data scientists employ cutting-edge techniques to preprocess and clean the data, making it ready
                                                    for training the neural network models.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section
                            class="elementor-section elementor-top-section elementor-element elementor-element-ca8a32b elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="ca8a32b"
                            data-element_type="section"
                        >
                            <div class="elementor-container elementor-column-gap-narrow">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2bb3c2f" data-id="2bb3c2f" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div
                                            class="elementor-element elementor-element-49002d9 elementor-widget elementor-widget-image"
                                            data-id="49002d9"
                                            data-element_type="widget"
                                            data-widget_type="image.default"
                                        >
                                            <div class="elementor-widget-container">
                                                <img
                                                    loading="lazy"
                                                    decoding="async"
                                                    width="494"
                                                    height="320"
                                                    src="./../../wp-content/uploads/2024/07/nelson-ndongala-1-min.jpg"
                                                    class="attachment-large size-large wp-image-17209"
                                                    alt=""
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-382c7da" data-id="382c7da" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div
                                            class="elementor-element elementor-element-86374ce elementor-widget elementor-widget-image"
                                            data-id="86374ce"
                                            data-element_type="widget"
                                            data-widget_type="image.default"
                                        >
                                            <div class="elementor-widget-container">
                                                <img
                                                    loading="lazy"
                                                    decoding="async"
                                                    width="494"
                                                    height="320"
                                                    src="./../../wp-content/uploads/2024/07/nelson-ndongala-6-1-min.jpg"
                                                    class="attachment-large size-large wp-image-17208"
                                                    alt=""
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section
                            class="elementor-section elementor-top-section elementor-element elementor-element-e69e557 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="e69e557"
                            data-element_type="section"
                        >
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f28d37c" data-id="f28d37c" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div
                                            class="elementor-element elementor-element-a26f423 elementor-widget elementor-widget-neuros_heading"
                                            data-id="a26f423"
                                            data-element_type="widget"
                                            data-widget_type="neuros_heading.default"
                                        >
                                            <div class="elementor-widget-container">
                                                <div class="neuros-heading-widget"><h2 class="neuros-heading"><span class="neuros-heading-content has_gradient_color_text">Solutions</span></h2></div>
                                            </div>
                                        </div>
                                        <div
                                            class="elementor-element elementor-element-5d6c44c elementor-widget elementor-widget-text-editor"
                                            data-id="5d6c44c"
                                            data-element_type="widget"
                                            data-widget_type="text-editor.default"
                                        >
                                            <div class="elementor-widget-container">
                                                <ul>
                                                    <li>Pacific hake false trevally queen parrotfish black</li>
                                                    <li>Prickleback moss revally queen parrotfish black</li>
                                                    <li>Queen parrotfish black prickleback moss pacific</li>
                                                    <li>Hake false trevally queen</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div
                                            class="elementor-element elementor-element-8c4c5da elementor-widget elementor-widget-text-editor"
                                            data-id="8c4c5da"
                                            data-element_type="widget"
                                            data-widget_type="text-editor.default"
                                        >
                                            <div class="elementor-widget-container">
                                                The development of neural networks is a specialized task that requires expertise and experience. Our team of skilled professionals excels in designing
                                                and implementing neural network architectures tailored to your specific business needs. From traditional feedforward networks to advanced convolutional
                                                and recurrent networks, we have the knowledge and skills to build models that deliver superior performance and accuracy. <span style="font-weight: 400;"
                                                    >In today&#8217;s fast-paced and data-driven world, businesses are constantly seeking innovative ways to gain a competitive edge, make smarter
                                                    decisions, and deliver exceptional customer experiences. One technology that is transforming industries across the globe is neural networks.
                                                    Harnessing the power of artificial intelligence, neural networks have the ability to analyze vast amounts of data, identify complex patterns, and
                                                    make accurate predictions, enabling businesses to unlock new opportunities and drive growth.</span
                                                >
                                            </div>
                                        </div>
                                        <div
                                            class="elementor-element elementor-element-11c681c elementor-widget elementor-widget-wp-widget-block"
                                            data-id="11c681c"
                                            data-element_type="widget"
                                            data-widget_type="wp-widget-block.default"
                                        >
                                            <div class="elementor-widget-container">
                                                <figure class="wp-block-pullquote has-text-align-left has-background" style="background-color:#f0f2f4">
                                                    <blockquote>
                                                        <p>
                                                            Artificial Intelligence refers to the development of computer systems that can perform tasks that would typically require human
                                                            intelligence. It involves the creation of algorithms and models that enable machines to learn, reason, perceive.
                                                        </p>
                                                        <cite>Adam Peterson</cite>
                                                    </blockquote>
                                                </figure>
                                            </div>
                                        </div>
                                        <div
                                            class="elementor-element elementor-element-d6c4465 elementor-widget elementor-widget-text-editor"
                                            data-id="d6c4465"
                                            data-element_type="widget"
                                            data-widget_type="text-editor.default"
                                        >
                                            <div class="elementor-widget-container">
                                                <p>
                                                    At our company, we specialize in providing comprehensive neural network services that can revolutionize your business. Whether you&#8217;re looking
                                                    to enhance your data analysis capabilities, automate repetitive tasks, improve customer engagement, or optimize operational processes, our team of
                                                    experts is here to help you leverage the full potential of neural networks.<br />Data lies at the heart of neural networks, and our services start
                                                    with understanding your unique data landscape. We work closely with you to identify and collect relevant data sources, ensuring that your neural
                                                    network models are built on a solid foundation. Our data scientists employ cutting-edge techniques to preprocess and clean the data, making it ready
                                                    for training the neural network models.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section
                            class="elementor-section elementor-top-section elementor-element elementor-element-b2c9b5e elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="b2c9b5e"
                            data-element_type="section"
                        >
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3285d30" data-id="3285d30" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div
                                            class="elementor-element elementor-element-481cb68 elementor-widget elementor-widget-neuros_heading"
                                            data-id="481cb68"
                                            data-element_type="widget"
                                            data-widget_type="neuros_heading.default"
                                        >
                                            <div class="elementor-widget-container">
                                                <div class="neuros-heading-widget">
                                                    <h2 class="neuros-heading"><span class="neuros-heading-content has_gradient_color_text">Key Outcomes</span></h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="elementor-element elementor-element-21b9c70 elementor-widget elementor-widget-text-editor"
                                            data-id="21b9c70"
                                            data-element_type="widget"
                                            data-widget_type="text-editor.default"
                                        >
                                            <div class="elementor-widget-container">
                                                <p>
                                                    Data lies at the heart of neural networks, and our services start with understanding your unique data landscape. We work closely with you to
                                                    identify and collect relevant data sources, ensuring that your neural network models are built on a solid foundation. Our data scientists employ
                                                    cutting-edge techniques to preprocess and clean the data, making it ready for training the neural network models.
                                                </p>
                                            </div>
                                        </div>
                                        <div
                                            class="elementor-element elementor-element-4fd863c elementor-widget elementor-widget-text-editor"
                                            data-id="4fd863c"
                                            data-element_type="widget"
                                            data-widget_type="text-editor.default"
                                        >
                                            <div class="elementor-widget-container">
                                                <ul>
                                                    <li>Pacific hake false trevally queen parrotfish black</li>
                                                    <li>Prickleback moss revally queen parrotfish black</li>
                                                    <li>Queen parrotfish black prickleback moss pacific</li>
                                                    <li>Hake false trevally queen</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-64af8b4" data-id="64af8b4" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div
                                            class="elementor-element elementor-element-4ac5020 elementor-widget__width-auto elementor-widget elementor-widget-counter"
                                            data-id="4ac5020"
                                            data-element_type="widget"
                                            data-widget_type="counter.default"
                                        >
                                            <div class="elementor-widget-container">
                                                <div class="elementor-counter">
                                                    <div class="elementor-counter-title">Savings in cost on video<br /> production</div>
                                                    <div class="elementor-counter-number-wrapper">
                                                        <span class="elementor-counter-number-prefix"></span>
                                                        <span class="elementor-counter-number" data-duration="2000" data-to-value="90" data-from-value="0" data-delimiter=",">0</span>
                                                        <span class="elementor-counter-number-suffix">%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="elementor-element elementor-element-aca99da elementor-widget__width-auto elementor-widget elementor-widget-counter"
                                            data-id="aca99da"
                                            data-element_type="widget"
                                            data-widget_type="counter.default"
                                        >
                                            <div class="elementor-widget-container">
                                                <div class="elementor-counter">
                                                    <div class="elementor-counter-title">Increase in learning</div>
                                                    <div class="elementor-counter-number-wrapper">
                                                        <span class="elementor-counter-number-prefix"></span>
                                                        <span class="elementor-counter-number" data-duration="2000" data-to-value="250" data-from-value="0" data-delimiter=",">0</span>
                                                        <span class="elementor-counter-number-suffix">+</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar Container -->
        <div class="sidebar sidebar-position-left simple-sidebar">
            <div class="case-study-side-info">
                <div class="case-study-info-logo"><img width="356" height="84" src="./../../wp-content/uploads/2024/07/4-1.png" alt="4 1" /></div>
                <div class="case-study-info-text">
                    <div class="case-study-info-text-item client">
                        <span class="case-study-info-text-item-label">Client</span><span class="case-study-info-text-item-value">QUO Legal Firm</span>
                    </div>
                    <div class="case-study-info-text-item">
                        <span class="case-study-info-text-item-label">Sector</span><span class="case-study-info-text-item-value"
                            >Infrastructure, Defence and Transport, Public Sector, Health and Not For Profit</span
                        >
                    </div>
                    <div class="case-study-info-text-item">
                        <span class="case-study-info-text-item-label">Offering</span><span class="case-study-info-text-item-value">Organisation Design</span>
                    </div>
                </div>
                <div class="post-meta-item post-meta-item-tags">
                    <a href="./../../neuros_case_study_tag/solutions/index.html" rel="tag">Solutions</a><a href="./../../neuros_case_study_tag/urban/index.html" rel="tag">Urban</a>
                </div>
            </div>
            <div id="block-239" class="widget widget_block">
                <div class="widget-wrapper">
                    <div class="wp-block-cover has-custom-content-position is-position-bottom-center" style="min-height:385px;aspect-ratio:unset;">
                        <span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><img
                            loading="lazy"
                            decoding="async"
                            width="304"
                            height="385"
                            class="wp-block-cover__image-background wp-image-516"
                            alt=""
                            src="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/01/banner-bg.jpg"
                            data-object-fit="cover"
                        /><div class="wp-block-cover__inner-container is-layout-constrained wp-container-core-cover-is-layout-1 wp-block-cover-is-layout-constrained">
                            <h5 class="wp-block-heading has-text-align-left">AI Strategy and Consulting</h5>

                            <p>Provide expert guidance on developing an AI strategy</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-hidden-sidebar-close"></div>
        </div>
        <div class="simple-sidebar-trigger"></div>
    </div>
</Layout>
<style>
    h2,
    .editor-styles-wrapper .block-editor-block-list__layout h2,
    body .elementor-widget-heading h2.elementor-heading-title {
        letter-spacing: -0.05em;
        word-spacing: 0px;
        font-weight: 400;
    }

    @media only screen and (min-width: 768px) {
        h2,
        .editor-styles-wrapper .block-editor-block-list__layout h2,
        body .elementor-widget-heading h2.elementor-heading-title {
            font-size: 35px;
            line-height: 1.16666em;
        }
    }

    @media only screen and (min-width: 992px) {
        h2,
        .editor-styles-wrapper .block-editor-block-list__layout h2,
        body .elementor-widget-heading h2.elementor-heading-title {
            font-size: 60px;
            line-height: 1.16666em;
        }
    }
</style>
