---
import PageTitle from "../../components/PageTitle.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <PageTitle title="Casos de éxito" />
    <div class="content-wrapper content-wrapper-remove-top-margin content-wrapper-remove-bottom-margin content-wrapper-sidebar-position-none ">
        <!-- Content Container -->
        <div class="content">
            <div class="content-inner">
                <div data-elementor-type="wp-page" data-elementor-id="17194" class="elementor elementor-17194">
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-be5bedf elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default !bg-transparent"
                        data-id="be5bedf"
                        data-element_type="section"
                        data-settings='{"stretch_section":"section-stretched","background_background":"classic"}'
                    >
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9241912" data-id="9241912" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-5f6a9e8 listing-pagination-border-style-gradient listing-pagination-background-style-solid elementor-widget elementor-widget-neuros_case_study_listing"
                                        data-id="5f6a9e8"
                                        data-element_type="widget"
                                        data-widget_type="neuros_case_study_listing.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div
                                                class="archive-listing"
                                                data-ajax='{"post_type":"neuros_case_study","posts_per_page":6,"ignore_sticky_posts":true,"suppress_filters":false,"orderby":"date","order":"desc","link_base":".\/\/case-studies-page","paged":1}'
                                                data-widget='{"show_media":"yes","show_date":"yes","show_name":"yes","show_tags":"yes","listing_type":"grid","show_pagination":"yes","item_class":"grid-blog-item-wrapper","columns_number":2}'
                                            >
                                                <div class="archive-listing-wrapper case-study-listing-wrapper case-study-grid-listing columns-2">
                                                    <div
                                                        class="grid-blog-item-wrapper post-23182 neuros_case_study type-neuros_case_study status-publish has-post-thumbnail hentry neuros_case_study_tag-solutions neuros_case_study_tag-urban"
                                                    >
                                                        <div class="case-study-item">
                                                            <div class="post-meta-header">
                                                                <div class="post-meta-item post-meta-item-tags">
                                                                    <a href="./../neuros_case_study_tag/solutions/index.html" rel="tag">Solutions</a><a
                                                                        href="./../neuros_case_study_tag/urban/index.html"
                                                                        rel="tag">Urban</a
                                                                    >
                                                                </div>
                                                                <div class="post-meta-item post-meta-item-date">
                                                                    <a href="./../2024/07/30/index.html"
                                                                        ><span class="post-meta-item-month-year">Jul / 24</span><span class="post-meta-item-day">30</span></a
                                                                    >
                                                                </div>
                                                            </div>
                                                            <h4 class="post-title">
                                                                <a href="/cases/Transforming healthcare with predictive analytics"
                                                                    >Transforming healthcare with predictive analytics</a
                                                                >
                                                            </h4>
                                                            <div class="post-media-wrapper">
                                                                <a href="/cases/Transforming healthcare with predictive analytics"
                                                                    ><picture
                                                                        ><source
                                                                            media="(max-width: 575px)"
                                                                            sizes="(max-width: 575px) 575px"
                                                                            srcset="./../wp-content/uploads/2024/07/simon-launay-NfD89-1.jpg 575w"
                                                                        /><source
                                                                            media="(max-width: 991px)"
                                                                            sizes="(max-width: 991px) 991px"
                                                                            srcset="./../wp-content/uploads/2024/07/simon-launay-NfD89-1.jpg 991w"
                                                                        /><img
                                                                            decoding="async"
                                                                            alt="simon-launay-NfD89"
                                                                            title="simon-launay-NfD89"
                                                                            src="./../wp-content/uploads/2024/07/simon-launay-NfD89-1.jpg"
                                                                            class="attachment-neuros_post_grid_2_columns size-neuros_post_grid_2_columns wp-post-image"
                                                                        /></picture
                                                                    ></a
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="grid-blog-item-wrapper post-17341 neuros_case_study type-neuros_case_study status-publish has-post-thumbnail hentry neuros_case_study_tag-solutions neuros_case_study_tag-urban"
                                                    >
                                                        <div class="case-study-item">
                                                            <div class="post-meta-header">
                                                                <div class="post-meta-item post-meta-item-tags">
                                                                    <a href="./../neuros_case_study_tag/solutions/index.html" rel="tag">Solutions</a><a
                                                                        href="./../neuros_case_study_tag/urban/index.html"
                                                                        rel="tag">Urban</a
                                                                    >
                                                                </div>
                                                                <div class="post-meta-item post-meta-item-date">
                                                                    <a href="./../2024/07/30/index.html"
                                                                        ><span class="post-meta-item-month-year">Jul / 24</span><span class="post-meta-item-day">30</span></a
                                                                    >
                                                                </div>
                                                            </div>
                                                            <h4 class="post-title">
                                                                <a href="./../case-studies/transforming-healthcare-with-predictive-analytics/index.html"
                                                                    >Transforming healthcare with predictive analytics</a
                                                                >
                                                            </h4>
                                                            <div class="post-media-wrapper">
                                                                <a href="./../case-studies/transforming-healthcare-with-predictive-analytics/index.html"
                                                                    ><picture
                                                                        ><source
                                                                            media="(max-width: 575px)"
                                                                            sizes="(max-width: 575px) 575px"
                                                                            srcset="./../wp-content/uploads/2024/07/simon-launay-NfD89.jpg 575w"
                                                                        /><source
                                                                            media="(max-width: 991px)"
                                                                            sizes="(max-width: 991px) 991px"
                                                                            srcset="./../wp-content/uploads/2024/07/simon-launay-NfD89.jpg 991w"
                                                                        /><img
                                                                            decoding="async"
                                                                            alt="simon-launay-NfD89"
                                                                            title="simon-launay-NfD89"
                                                                            src="./../wp-content/uploads/2024/07/simon-launay-NfD89.jpg"
                                                                            class="attachment-neuros_post_grid_2_columns size-neuros_post_grid_2_columns wp-post-image"
                                                                        /></picture
                                                                    ></a
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="grid-blog-item-wrapper post-23181 neuros_case_study type-neuros_case_study status-publish has-post-thumbnail hentry neuros_case_study_tag-solutions neuros_case_study_tag-urban"
                                                    >
                                                        <div class="case-study-item">
                                                            <div class="post-meta-header">
                                                                <div class="post-meta-item post-meta-item-tags">
                                                                    <a href="./../neuros_case_study_tag/solutions/index.html" rel="tag">Solutions</a><a
                                                                        href="./../neuros_case_study_tag/urban/index.html"
                                                                        rel="tag">Urban</a
                                                                    >
                                                                </div>
                                                                <div class="post-meta-item post-meta-item-date">
                                                                    <a href="./../2024/07/30/index.html"
                                                                        ><span class="post-meta-item-month-year">Jul / 24</span><span class="post-meta-item-day">30</span></a
                                                                    >
                                                                </div>
                                                            </div>
                                                            <h4 class="post-title">
                                                                <a href="./../case-studies/improving-energy-efficiency-with-ai-optimization-2/index.html"
                                                                    >Improving energy efficiency with AI Optimization</a
                                                                >
                                                            </h4>
                                                            <div class="post-media-wrapper">
                                                                <a href="./../case-studies/improving-energy-efficiency-with-ai-optimization-2/index.html"
                                                                    ><picture
                                                                        ><source
                                                                            media="(max-width: 575px)"
                                                                            sizes="(max-width: 575px) 575px"
                                                                            srcset="./../wp-content/uploads/2024/07/ba3d803-min-1.jpg 575w"
                                                                        /><source
                                                                            media="(max-width: 991px)"
                                                                            sizes="(max-width: 991px) 991px"
                                                                            srcset="./../wp-content/uploads/2024/07/ba3d803-min-1.jpg 991w"
                                                                        /><img
                                                                            decoding="async"
                                                                            alt="ba3d803-min"
                                                                            title="ba3d803-min"
                                                                            src="./../wp-content/uploads/2024/07/ba3d803-min-1.jpg"
                                                                            class="attachment-neuros_post_grid_2_columns size-neuros_post_grid_2_columns wp-post-image"
                                                                        /></picture
                                                                    ></a
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="grid-blog-item-wrapper post-17338 neuros_case_study type-neuros_case_study status-publish has-post-thumbnail hentry neuros_case_study_tag-solutions neuros_case_study_tag-urban"
                                                    >
                                                        <div class="case-study-item">
                                                            <div class="post-meta-header">
                                                                <div class="post-meta-item post-meta-item-tags">
                                                                    <a href="./../neuros_case_study_tag/solutions/index.html" rel="tag">Solutions</a><a
                                                                        href="./../neuros_case_study_tag/urban/index.html"
                                                                        rel="tag">Urban</a
                                                                    >
                                                                </div>
                                                                <div class="post-meta-item post-meta-item-date">
                                                                    <a href="./../2024/07/30/index.html"
                                                                        ><span class="post-meta-item-month-year">Jul / 24</span><span class="post-meta-item-day">30</span></a
                                                                    >
                                                                </div>
                                                            </div>
                                                            <h4 class="post-title">
                                                                <a href="./../case-studies/improving-energy-efficiency-with-ai-optimization/index.html"
                                                                    >Improving energy efficiency with AI Optimization</a
                                                                >
                                                            </h4>
                                                            <div class="post-media-wrapper">
                                                                <a href="./../case-studies/improving-energy-efficiency-with-ai-optimization/index.html"
                                                                    ><picture
                                                                        ><source
                                                                            media="(max-width: 575px)"
                                                                            sizes="(max-width: 575px) 575px"
                                                                            srcset="./../wp-content/uploads/2024/07/ba3d803-min.jpg 575w"
                                                                        /><source
                                                                            media="(max-width: 991px)"
                                                                            sizes="(max-width: 991px) 991px"
                                                                            srcset="./../wp-content/uploads/2024/07/ba3d803-min.jpg 991w"
                                                                        /><img
                                                                            decoding="async"
                                                                            alt="ba3d803-min"
                                                                            title="ba3d803-min"
                                                                            src="./../wp-content/uploads/2024/07/ba3d803-min.jpg"
                                                                            class="attachment-neuros_post_grid_2_columns size-neuros_post_grid_2_columns wp-post-image"
                                                                        /></picture
                                                                    ></a
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="grid-blog-item-wrapper post-23180 neuros_case_study type-neuros_case_study status-publish has-post-thumbnail hentry neuros_case_study_tag-solutions neuros_case_study_tag-urban"
                                                    >
                                                        <div class="case-study-item">
                                                            <div class="post-meta-header">
                                                                <div class="post-meta-item post-meta-item-tags">
                                                                    <a href="./../neuros_case_study_tag/solutions/index.html" rel="tag">Solutions</a><a
                                                                        href="./../neuros_case_study_tag/urban/index.html"
                                                                        rel="tag">Urban</a
                                                                    >
                                                                </div>
                                                                <div class="post-meta-item post-meta-item-date">
                                                                    <a href="./../2024/07/30/index.html"
                                                                        ><span class="post-meta-item-month-year">Jul / 24</span><span class="post-meta-item-day">30</span></a
                                                                    >
                                                                </div>
                                                            </div>
                                                            <h4 class="post-title">
                                                                <a href="./../case-studies/boosting-retail-efficiency-with-predictive-inventory-2/index.html"
                                                                    >Boosting Retail Efficiency with Predictive Inventory</a
                                                                >
                                                            </h4>
                                                            <div class="post-media-wrapper">
                                                                <a href="./../case-studies/boosting-retail-efficiency-with-predictive-inventory-2/index.html"
                                                                    ><picture
                                                                        ><source
                                                                            media="(max-width: 575px)"
                                                                            sizes="(max-width: 575px) 575px"
                                                                            srcset="./../wp-content/uploads/2024/02/Ooze-25-5-1.jpg 575w"
                                                                        /><source
                                                                            media="(max-width: 991px)"
                                                                            sizes="(max-width: 991px) 991px"
                                                                            srcset="./../wp-content/uploads/2024/02/Ooze-25-5-1.jpg 991w"
                                                                        /><img
                                                                            decoding="async"
                                                                            alt="Ooze (25) 5"
                                                                            title="Ooze (25) 5"
                                                                            src="./../wp-content/uploads/2024/02/Ooze-25-5-1.jpg"
                                                                            class="attachment-neuros_post_grid_2_columns size-neuros_post_grid_2_columns wp-post-image"
                                                                        /></picture
                                                                    ></a
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="grid-blog-item-wrapper post-17336 neuros_case_study type-neuros_case_study status-publish has-post-thumbnail hentry neuros_case_study_tag-solutions neuros_case_study_tag-urban"
                                                    >
                                                        <div class="case-study-item">
                                                            <div class="post-meta-header">
                                                                <div class="post-meta-item post-meta-item-tags">
                                                                    <a href="./../neuros_case_study_tag/solutions/index.html" rel="tag">Solutions</a><a
                                                                        href="./../neuros_case_study_tag/urban/index.html"
                                                                        rel="tag">Urban</a
                                                                    >
                                                                </div>
                                                                <div class="post-meta-item post-meta-item-date">
                                                                    <a href="./../2024/07/30/index.html"
                                                                        ><span class="post-meta-item-month-year">Jul / 24</span><span class="post-meta-item-day">30</span></a
                                                                    >
                                                                </div>
                                                            </div>
                                                            <h4 class="post-title">
                                                                <a href="./../case-studies/boosting-retail-efficiency-with-predictive-inventory/index.html"
                                                                    >Boosting Retail Efficiency with Predictive Inventory</a
                                                                >
                                                            </h4>
                                                            <div class="post-media-wrapper">
                                                                <a href="./../case-studies/boosting-retail-efficiency-with-predictive-inventory/index.html"
                                                                    ><picture
                                                                        ><source
                                                                            media="(max-width: 575px)"
                                                                            sizes="(max-width: 575px) 575px"
                                                                            srcset="./../wp-content/uploads/2024/02/Ooze-25-5.jpg 575w"
                                                                        /><source
                                                                            media="(max-width: 991px)"
                                                                            sizes="(max-width: 991px) 991px"
                                                                            srcset="./../wp-content/uploads/2024/02/Ooze-25-5.jpg 991w"
                                                                        /><img
                                                                            decoding="async"
                                                                            alt="Ooze (25) 5"
                                                                            title="Ooze (25) 5"
                                                                            src="./../wp-content/uploads/2024/02/Ooze-25-5.jpg"
                                                                            class="attachment-neuros_post_grid_2_columns size-neuros_post_grid_2_columns wp-post-image"
                                                                        /></picture
                                                                    ></a
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <div class="content-pagination">
                                                    <nav class="navigation pagination" role="navigation">
                                                        <h2 class="screen-reader-text">Pagination</h2>
                                                        <div class="nav-links">
                                                            <span aria-current="page" class="page-numbers current"><span class="button-inner"></span>1</span>
                                                            <a class="page-numbers" href="./index.html?5f6a9e8-paged=2#038;simply_static_page=8283"><span class="button-inner"></span>2</a>
                                                            <a class="page-numbers" href="./index.html?5f6a9e8-paged=3#038;simply_static_page=8283"><span class="button-inner"></span>3</a>
                                                            <a class="next page-numbers" href="./index.html?5f6a9e8-paged=2#038;simply_static_page=8283"
                                                                >Next<span class="button-inner"></span><span class="icon-button-arrow left"></span><span class="icon-button-arrow right"></span></a
                                                            >
                                                        </div>
                                                    </nav>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                </div>
            </div>
        </div>

        <!-- Sidebar Container -->
    </div>
</Layout>

<style>
      h4,
    .editor-styles-wrapper .block-editor-block-list__layout h4,
    body .elementor-widget-heading h4.elementor-heading-title,
    .woocommerce .comment-reply-title,
    .woocommerce-Reviews-title {
        letter-spacing: -0.05em;
        word-spacing: 0px;
        font-weight: 400;
    }

    @media only screen and (min-width: 768px) {
        h4,
        .editor-styles-wrapper .block-editor-block-list__layout h4,
        body .elementor-widget-heading h4.elementor-heading-title,
        .woocommerce .comment-reply-title,
        .woocommerce-Reviews-title {
            font-size: 25px;
            line-height: 1.3333em;
        }
    }

    @media only screen and (min-width: 992px) {
        h4,
        .editor-styles-wrapper .block-editor-block-list__layout h4,
        body .elementor-widget-heading h4.elementor-heading-title,
        .woocommerce .comment-reply-title,
        .woocommerce-Reviews-title {
            font-size: 30px;
            line-height: 1.3333em;
        }
    }
</style>
