---
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <PageTitle title="Acerca de" />
    <div class="content-wrapper content-wrapper-remove-bottom-margin content-wrapper-sidebar-position-none">
        <!-- Content Container -->
        <div class="content">
            <div class="content-inner">
                <div data-elementor-type="wp-page" data-elementor-id="2324" class="elementor elementor-2324">
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-ba270ea elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
                        data-id="ba270ea"
                        data-element_type="section"
                        data-settings='{"stretch_section":"section-stretched"}'
                    >
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-64ee69d" data-id="64ee69d" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-10eeadc elementor-widget elementor-widget-image"
                                        data-id="10eeadc"
                                        data-element_type="widget"
                                        data-widget_type="image.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <img
                                                loading="lazy"
                                                decoding="async"
                                                width="693"
                                                height="366"
                                                src="wp-content/uploads/2024/02/Logo.svg"
                                                class="attachment-large size-large wp-image-2336"
                                                alt=""
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-8d9388c" data-id="8d9388c" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-e2c808e elementor-widget elementor-widget-neuros_heading"
                                        data-id="e2c808e"
                                        data-element_type="widget"
                                        data-widget_type="neuros_heading.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="neuros-heading-widget">
                                                <h2 class="neuros-heading">
                                                    <span class="neuros-heading-content has_gradient_color_text"
                                                        >Unleashing the Potential of <del>Artificial Intelligence </del>for Intelligent Solutions</span
                                                    >
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-1240eef elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="1240eef"
                        data-element_type="section"
                    >
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-27f5f48" data-id="27f5f48" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-ebbc65b title-alignment-center elementor-widget elementor-widget-neuros_image_carousel"
                                        data-id="ebbc65b"
                                        data-element_type="widget"
                                        data-widget_type="neuros_image_carousel.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="neuros-image-slider-widget">
                                                <div class="slider-wrapper">
                                                    <div
                                                        class="owl-carousel owl-theme view-type-1"
                                                        data-slider-options='{"items":6,"nav":false,"dots":true,"dotsContainer":".owl-dots-ebbc65b","dotsContainerMobile":".owl-dots-ebbc65b","autoplayHoverPause":true,"autoplay":false,"autoplaySpeed":300,"autoplayTimeout":5000,"loop":true,"speed":500}'
                                                    >
                                                        <div class="slider-item">
                                                            <div class="slider-item-inner">
                                                                <img
                                                                    loading="lazy"
                                                                    decoding="async"
                                                                    width="170"
                                                                    height="53"
                                                                    src="wp-content/uploads/2024/01/partners_1.png"
                                                                    class="attachment-full size-full wp-image-1120"
                                                                    alt=""
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class="slider-item">
                                                            <div class="slider-item-inner">
                                                                <img
                                                                    loading="lazy"
                                                                    decoding="async"
                                                                    width="162"
                                                                    height="60"
                                                                    src="wp-content/uploads/2024/01/partners_2.png"
                                                                    class="attachment-full size-full wp-image-1121"
                                                                    alt=""
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class="slider-item">
                                                            <div class="slider-item-inner">
                                                                <img
                                                                    loading="lazy"
                                                                    decoding="async"
                                                                    width="131"
                                                                    height="72"
                                                                    src="wp-content/uploads/2024/01/partners_3.png"
                                                                    class="attachment-full size-full wp-image-1122"
                                                                    alt=""
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class="slider-item">
                                                            <div class="slider-item-inner">
                                                                <img
                                                                    loading="lazy"
                                                                    decoding="async"
                                                                    width="183"
                                                                    height="44"
                                                                    src="wp-content/uploads/2024/01/partners_4.png"
                                                                    class="attachment-full size-full wp-image-1123"
                                                                    alt=""
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class="slider-item">
                                                            <div class="slider-item-inner">
                                                                <img
                                                                    loading="lazy"
                                                                    decoding="async"
                                                                    width="180"
                                                                    height="53"
                                                                    src="wp-content/uploads/2024/01/partners_5.png"
                                                                    class="attachment-full size-full wp-image-1124"
                                                                    alt=""
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class="slider-item">
                                                            <div class="slider-item-inner">
                                                                <img
                                                                    loading="lazy"
                                                                    decoding="async"
                                                                    width="104"
                                                                    height="92"
                                                                    src="wp-content/uploads/2024/01/partners_6.png"
                                                                    class="attachment-full size-full wp-image-1125"
                                                                    alt=""
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="owl-dots owl-dots-ebbc65b"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-a33bd19 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="a33bd19"
                        data-element_type="section"
                    >
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b37b706" data-id="b37b706" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-63200c9 elementor-invisible elementor-widget elementor-widget-neuros_heading"
                                        data-id="63200c9"
                                        data-element_type="widget"
                                        data-settings='{"_animation":"neuros_heading_animation","_animation_delay":300}'
                                        data-widget_type="neuros_heading.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="neuros-heading-widget">
                                                <h2 class="neuros-heading">
                                                    <span class="neuros-subheading">about</span>
                                                    <span class="neuros-heading-content has_gradient_color_text text-[60px]" style="line-height: 60px;"
                                                        >With diverse talents and a shared passion for excellence</span
                                                    >
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-b74fafe elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="b74fafe"
                                        data-element_type="section"
                                    >
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div
                                                class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-f05c030"
                                                data-id="f05c030"
                                                data-element_type="column"
                                            >
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div
                                                        class="elementor-element elementor-element-7d34628 elementor-widget elementor-widget-text-editor"
                                                        data-id="7d34628"
                                                        data-element_type="widget"
                                                        data-widget_type="text-editor.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <p>
                                                                <strong
                                                                    >Artificial Intelligence refers to the development of computer systems that can perform tasks that would typically require human
                                                                    intelligence. It involves the creation of algorithms and models that enable machines to learn, reason, perceive, and make decisions.</strong
                                                                >
                                                            </p>
                                                            <p>
                                                                There are generally two types of AI: Narrow or Weak AI, which is designed to perform specific tasks, and General or Strong AI, which
                                                                possesses human-level intelligence and can handle a wide range of tasks. Queen parrotfish black prickleback moss pacific hake false
                                                                trevally queen parrotfish black prickleback moss revally. Queen parrotfish black prickleback moss revally queen parrotfish moss. Queen
                                                                parrotfish black prickleback moss pacific hake.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="elementor-element elementor-element-673c99f elementor-widget__width-auto e-transform e-transform elementor-absolute elementor-widget elementor-widget-neuros_special_text"
                                                        data-id="673c99f"
                                                        data-element_type="widget"
                                                        data-settings='{"_transform_rotateZ_effect":{"unit":"px","size":-90,"sizes":[]},"_transform_translateX_effect":{"unit":"%","size":-100,"sizes":[]},"_transform_translateX_effect_laptop":{"unit":"%","size":"","sizes":[]},"_transform_translateX_effect_tablet_extra":{"unit":"%","size":"","sizes":[]},"_transform_translateX_effect_tablet":{"unit":"%","size":"","sizes":[]},"_transform_translateX_effect_mobile_extra":{"unit":"%","size":"","sizes":[]},"_transform_translateX_effect_mobile":{"unit":"%","size":"","sizes":[]},"_position":"absolute","_transform_translateY_effect":{"unit":"%","size":"","sizes":[]},"_transform_translateY_effect_laptop":{"unit":"%","size":"","sizes":[]},"_transform_translateY_effect_tablet_extra":{"unit":"%","size":"","sizes":[]},"_transform_translateY_effect_tablet":{"unit":"%","size":"","sizes":[]},"_transform_translateY_effect_mobile_extra":{"unit":"%","size":"","sizes":[]},"_transform_translateY_effect_mobile":{"unit":"%","size":"","sizes":[]},"_transform_rotateZ_effect_widescreen":{"unit":"deg","size":"","sizes":[]},"_transform_rotateZ_effect_laptop":{"unit":"deg","size":"","sizes":[]},"_transform_rotateZ_effect_tablet_extra":{"unit":"deg","size":"","sizes":[]},"_transform_rotateZ_effect_tablet":{"unit":"deg","size":"","sizes":[]},"_transform_rotateZ_effect_mobile_extra":{"unit":"deg","size":"","sizes":[]},"_transform_rotateZ_effect_mobile":{"unit":"deg","size":"","sizes":[]},"_transform_translateX_effect_widescreen":{"unit":"px","size":"","sizes":[]},"_transform_translateY_effect_widescreen":{"unit":"px","size":"","sizes":[]}}'
                                                        data-widget_type="neuros_special_text.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="special-text-wrapper">
                                                                <div class="special-text special-text-effect-fill">Neuro</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d0612c4" data-id="d0612c4" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-c25890b elementor-widget elementor-widget-image"
                                        data-id="c25890b"
                                        data-element_type="widget"
                                        data-widget_type="image.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <img
                                                loading="lazy"
                                                decoding="async"
                                                width="872"
                                                height="734"
                                                src="wp-content/uploads/2024/02/mitchell-luo-mkNOHMD3a-I-unsplash-min.jpg"
                                                class="attachment-large size-large wp-image-2502"
                                                alt=""
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-b81d1f2 elementor-section-full_width elementor-section-stretched elementor-section-container-padding-remove elementor-section-height-default elementor-section-height-default"
                        data-id="b81d1f2"
                        data-element_type="section"
                        data-settings='{"stretch_section":"section-stretched"}'
                    >
                        <div class="elementor-container elementor-column-gap-wide">
                            <div
                                class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4e68d16"
                                data-id="4e68d16"
                                data-element_type="column"
                                data-settings='{"background_background":"gradient"}'
                            >
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-background-overlay"></div>
                                    <div
                                        class="elementor-element elementor-element-d45260b elementor-widget elementor-widget-neuros_heading"
                                        data-id="d45260b"
                                        data-element_type="widget"
                                        data-widget_type="neuros_heading.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="neuros-heading-widget">
                                                <h5 class="neuros-heading"><span class="neuros-heading-content has_gradient_color_text">Machine Learning<br />Solutions</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="elementor-element elementor-element-8ad0dcb elementor-widget elementor-widget-text-editor"
                                        data-id="8ad0dcb"
                                        data-element_type="widget"
                                        data-widget_type="text-editor.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <p>Develop and deploy custom machine learning models to extract insights and make predictions from your data.</p>
                                        </div>
                                    </div>
                                    <div
                                        class="elementor-element elementor-element-89172bc neuros-video-button-alignment-right elementor-widget__width-auto neuros-video-button-decoration-on elementor-widget elementor-widget-neuros_video_button"
                                        data-id="89172bc"
                                        data-element_type="widget"
                                        data-settings='{"youtube_url":"https:\/\/www.youtube.com\/watch?v=XHOmBV4js_E","video_type":"youtube","controls":"yes"}'
                                        data-widget_type="neuros_video_button.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="neuros_video_button_container">
                                                <div class="neuros_video_button_widget">
                                                    <div class="elementor-wrapper elementor-open-lightbox">
                                                        <div
                                                            class="elementor-custom-embed-image-overlay"
                                                            data-elementor-open-lightbox="yes"
                                                            data-elementor-lightbox='{"type":"video","videoType":"youtube","url":"https:\/\/www.youtube-nocookie.com\/embed\/XHOmBV4js_E?feature=oembed&wmode=opaque","modalOptions":{"id":"elementor-lightbox-89172bc","videoAspectRatio":"169"}}'
                                                        >
                                                            <div class="elementor-custom-embed-play" role="button">
                                                                <div class="icon-play-wrapper">
                                                                    <i class="eicon-play" aria-hidden="true"></i>
                                                                </div>

                                                                <span class="neuros_button_text">Watch video</span>
                                                                <span class="elementor-screen-only">Watch video</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-8b2f497" data-id="8b2f497" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-84100f1 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="84100f1"
                                        data-element_type="section"
                                        data-settings='{"background_background":"classic"}'
                                    >
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div
                                                class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-18eafa2"
                                                data-id="18eafa2"
                                                data-element_type="column"
                                            >
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div
                                                        class="elementor-element elementor-element-9ba5acb elementor-widget elementor-widget-neuros_heading"
                                                        data-id="9ba5acb"
                                                        data-element_type="widget"
                                                        data-widget_type="neuros_heading.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="neuros-heading-widget">
                                                                <h5 class="neuros-heading"><span class="neuros-heading-content has_gradient_color_text">Natural Language<br /> Processing</span></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="elementor-element elementor-element-880540d elementor-widget__width-auto elementor-widget elementor-widget-counter"
                                                        data-id="880540d"
                                                        data-element_type="widget"
                                                        data-widget_type="counter.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-counter">
                                                                <div class="elementor-counter-title">Active users every day</div>
                                                                <div class="elementor-counter-number-wrapper">
                                                                    <span class="elementor-counter-number-prefix"></span>
                                                                    <span class="elementor-counter-number" data-duration="2000" data-to-value="250" data-from-value="0" data-delimiter=",">0</span>
                                                                    <span class="elementor-counter-number-suffix">+</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="elementor-element elementor-element-47513c1 elementor-view-stacked neuros-icon-decoration-on neuros-icon-alignment-right elementor-shape-circle elementor-widget elementor-widget-icon"
                                                        data-id="47513c1"
                                                        data-element_type="widget"
                                                        data-widget_type="icon.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-icon-wrapper">
                                                                <a class="elementor-icon elementor-animation-slide-horizontal" href="#" target="_blank">
                                                                    <i aria-hidden="true" class="fontello icon-button-arrow"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-7b14743 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="7b14743"
                                        data-element_type="section"
                                        data-settings='{"background_background":"classic"}'
                                    >
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div
                                                class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-ad0acf0"
                                                data-id="ad0acf0"
                                                data-element_type="column"
                                            >
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div
                                                        class="elementor-element elementor-element-5bda237 elementor-widget elementor-widget-image"
                                                        data-id="5bda237"
                                                        data-element_type="widget"
                                                        data-widget_type="image.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <img
                                                                loading="lazy"
                                                                decoding="async"
                                                                width="266"
                                                                height="66"
                                                                src="wp-content/uploads/2024/02/OpenAI_Logo-1.png"
                                                                class="attachment-large size-large wp-image-2861"
                                                                alt=""
                                                            />
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="elementor-element elementor-element-365ac26 elementor-widget elementor-widget-text-editor"
                                                        data-id="365ac26"
                                                        data-element_type="widget"
                                                        data-widget_type="text-editor.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <p>Powered by</p>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="elementor-element elementor-element-7011c5e elementor-view-stacked neuros-icon-decoration-on neuros-icon-alignment-right elementor-shape-circle elementor-widget elementor-widget-icon"
                                                        data-id="7011c5e"
                                                        data-element_type="widget"
                                                        data-widget_type="icon.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-icon-wrapper">
                                                                <a class="elementor-icon elementor-animation-slide-horizontal" href="#" target="_blank">
                                                                    <i aria-hidden="true" class="fontello icon-button-arrow"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-ea5a4b0 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="ea5a4b0"
                        data-element_type="section"
                    >
                        <div class="elementor-container elementor-column-gap-wide">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-fe7164a" data-id="fe7164a" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-231e4b5 elementor-invisible elementor-widget elementor-widget-neuros_heading"
                                        data-id="231e4b5"
                                        data-element_type="widget"
                                        data-settings='{"_animation":"neuros_heading_animation","_animation_delay":300}'
                                        data-widget_type="neuros_heading.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="neuros-heading-widget">
                                                <h2 class="neuros-heading">
                                                    <span class="neuros-subheading">team</span>
                                                    <span class="neuros-heading-content has_gradient_color_text text-[60px]" style="line-height: 60px;"
                                                        >The Neural Network experts: uniting talent for intelligent solutions</span
                                                    >
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="elementor-element elementor-element-0bf4644 elementor-widget__width-auto elementor-widget elementor-widget-counter"
                                        data-id="0bf4644"
                                        data-element_type="widget"
                                        data-widget_type="counter.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="elementor-counter">
                                                <div class="elementor-counter-title">Awesome team members</div>
                                                <div class="elementor-counter-number-wrapper">
                                                    <span class="elementor-counter-number-prefix"></span>
                                                    <span class="elementor-counter-number" data-duration="2000" data-to-value="250" data-from-value="0" data-delimiter=",">0</span>
                                                    <span class="elementor-counter-number-suffix">+</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="elementor-element elementor-element-03f751b neuros-button-border-style-gradient neuros-button-bakground-style-solid elementor-widget elementor-widget-neuros_button"
                                        data-id="03f751b"
                                        data-element_type="widget"
                                        data-widget_type="neuros_button.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="button-widget">
                                                <div class="button-container">
                                                    <a class="neuros-button" href="https://demo.artureanec.com/themes/neuros/awesome-team/" target="_blank"
                                                        >More about <span class="icon-button-arrow left"></span><span class="icon-button-arrow right"></span>
                                                        <span class="button-inner"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-b4a4492 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="b4a4492"
                                        data-element_type="section"
                                    >
                                        <div class="elementor-container elementor-column-gap-wide">
                                            <div
                                                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4f56a5c elementor-hidden-tablet elementor-hidden-mobile_extra elementor-hidden-mobile"
                                                data-id="4f56a5c"
                                                data-element_type="column"
                                            >
                                                <div class="elementor-widget-wrap"></div>
                                            </div>
                                            <div
                                                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4c56a2b"
                                                data-id="4c56a2b"
                                                data-element_type="column"
                                            >
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div
                                                        class="elementor-element elementor-element-ac220d8 listing-pagination-border-style-gradient listing-pagination-bakground-style-solid elementor-widget elementor-widget-neuros_team_members"
                                                        data-id="ac220d8"
                                                        data-element_type="widget"
                                                        data-widget_type="neuros_team_members.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="neuros-team-members-widget">
                                                                <div
                                                                    class="archive-listing"
                                                                    data-ajax='{"post_type":"neuros_team_member","ignore_sticky_posts":true,"orderby":"date","order":"desc","link_base":".\/\/meet-neuro","post__in":["882"],"posts_per_page":1,"columns_number":1,"paged":1}'
                                                                    data-widget='{"item_class":"team-item-wrapper","columns_number":1,"show_pagination":"yes"}'
                                                                >
                                                                    <div class="archive-listing-wrapper team-listing-wrapper team-grid-listing columns-1">
                                                                        <div class="team-item-wrapper post-882 neuros_team_member type-neuros_team_member status-publish has-post-thumbnail hentry">
                                                                            <div class="team-item">
                                                                                <a href="./../team/dan-smith/index.html" class="team-item-link">
                                                                                    <span class="team-item-media"
                                                                                        ><img
                                                                                            decoding="async"
                                                                                            alt="portrait-confident-man-30s-with-bristle-wearing-casual-t-shirt-posing-isolated-white"
                                                                                            title="portrait-confident-man-30s-with-bristle-wearing-casual-t-shirt-posing-isolated-white 1"
                                                                                            src="wp-content/uploads/2024/01/portrait-confident-man-30s-with-bristle-wearing-casual-t-shirt-posing-isolated-white-1.jpg"
                                                                                            class="attachment-neuros_team_thumbnail size-full wp-post-image"
                                                                                        /><span class="team-item-tag">Future</span></span
                                                                                    >
                                                                                </a>
                                                                                <div class="team-item-content">
                                                                                    <div class="team-item-socials">
                                                                                        <span class="socials-trigger-wrapper"><i class="socials-trigger fontello icon-button-arrow"></i></span>
                                                                                        <div class="team-socials-wrapper">
                                                                                            <ul class="team-socials wrapper-socials">
                                                                                                <li><a href="https://www.youtube.com/" target="_blank" class="fab fa-youtube"></a></li>
                                                                                                <li><a href="https://www.linkedin.com/" target="_blank" class="fab fa-linkedin-in"></a></li>
                                                                                                <li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
                                                                                                <li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                    <a href="./../team/dan-smith/index.html" class="post-title">Dan Smith</a><span class="team-item-position"
                                                                                        >Manager</span
                                                                                    >
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="elementor-element elementor-element-f105af6 elementor-hidden-widescreen elementor-hidden-desktop elementor-hidden-laptop elementor-hidden-tablet_extra listing-pagination-border-style-gradient listing-pagination-bakground-style-solid elementor-widget elementor-widget-neuros_team_members"
                                                        data-id="f105af6"
                                                        data-element_type="widget"
                                                        data-widget_type="neuros_team_members.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="neuros-team-members-widget">
                                                                <div
                                                                    class="archive-listing"
                                                                    data-ajax='{"post_type":"neuros_team_member","ignore_sticky_posts":true,"orderby":"date","order":"desc","link_base":".\/\/meet-neuro","post__in":["877"],"posts_per_page":1,"columns_number":1,"paged":1}'
                                                                    data-widget='{"item_class":"team-item-wrapper","columns_number":1,"show_pagination":"yes"}'
                                                                >
                                                                    <div class="archive-listing-wrapper team-listing-wrapper team-grid-listing columns-1">
                                                                        <div class="team-item-wrapper post-877 neuros_team_member type-neuros_team_member status-publish has-post-thumbnail hentry">
                                                                            <div class="team-item">
                                                                                <a href="./../team/alan-begham-2/index.html" class="team-item-link">
                                                                                    <span class="team-item-media"
                                                                                        ><img
                                                                                            decoding="async"
                                                                                            alt="waist-up-shot-handsome-calm-blond-blue-eyed-guy-with-bristle-white-t-shirt-looking-front-with-relaxed-carefree-facial-expression-posing-gray-wall-looking-sincere-chill 1-1"
                                                                                            title="waist-up-shot-handsome-calm-blond-blue-eyed-guy-with-bristle-white-t-shirt-looking-front-with-relaxed-carefree-facial-expression-posing-gray-wall-looking-sincere-chill 1-1"
                                                                                            src="wp-content/uploads/2024/01/waist-up-shot-handsome-calm-blond-blue-eyed-guy-with-bristle-white-t-shirt-looking-front-with-relaxed-carefree-facial-expression-posing-gray-wall-looking-sincere-chill-1-1.jpg"
                                                                                            class="attachment-neuros_team_thumbnail size-full wp-post-image"
                                                                                        /><span class="team-item-tag">Learning</span></span
                                                                                    >
                                                                                </a>
                                                                                <div class="team-item-content">
                                                                                    <div class="team-item-socials">
                                                                                        <span class="socials-trigger-wrapper"><i class="socials-trigger fontello icon-button-arrow"></i></span>
                                                                                        <div class="team-socials-wrapper">
                                                                                            <ul class="team-socials wrapper-socials">
                                                                                                <li><a href="https://www.youtube.com/" target="_blank" class="fab fa-youtube"></a></li>
                                                                                                <li><a href="https://www.linkedin.com/" target="_blank" class="fab fa-linkedin-in"></a></li>
                                                                                                <li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
                                                                                                <li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                    <a href="./../team/alan-begham-2/index.html" class="post-title">Alan Begham</a><span class="team-item-position"
                                                                                        >CEO Neuro</span
                                                                                    >
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-0ed8bfb" data-id="0ed8bfb" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-5490200 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="5490200"
                                        data-element_type="section"
                                    >
                                        <div class="elementor-container elementor-column-gap-wide">
                                            <div
                                                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2d23f0e"
                                                data-id="2d23f0e"
                                                data-element_type="column"
                                            >
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div
                                                        class="elementor-element elementor-element-c2258d0 listing-pagination-border-style-gradient listing-pagination-bakground-style-solid elementor-widget elementor-widget-neuros_team_members"
                                                        data-id="c2258d0"
                                                        data-element_type="widget"
                                                        data-widget_type="neuros_team_members.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="neuros-team-members-widget">
                                                                <div
                                                                    class="archive-listing"
                                                                    data-ajax='{"post_type":"neuros_team_member","ignore_sticky_posts":true,"orderby":"date","order":"desc","link_base":".\/\/meet-neuro","post__in":["867"],"posts_per_page":1,"columns_number":1,"paged":1}'
                                                                    data-widget='{"item_class":"team-item-wrapper","columns_number":1,"show_pagination":"yes"}'
                                                                >
                                                                    <div class="archive-listing-wrapper team-listing-wrapper team-grid-listing columns-1">
                                                                        <div class="team-item-wrapper post-867 neuros_team_member type-neuros_team_member status-publish has-post-thumbnail hentry">
                                                                            <div class="team-item">
                                                                                <a href="./../team/alan-begham/index.html" class="team-item-link">
                                                                                    <span class="team-item-media"
                                                                                        ><img
                                                                                            decoding="async"
                                                                                            alt="confident-ginger-man-with-trendy-hairstyle-wears-spectacles-looks-directly 1-1"
                                                                                            title="confident-ginger-man-with-trendy-hairstyle-wears-spectacles-looks-directly 1-1"
                                                                                            src="wp-content/uploads/2024/01/confident-ginger-man-with-trendy-hairstyle-wears-spectacles-looks-directly-1-1.jpg"
                                                                                            class="attachment-neuros_team_thumbnail size-full wp-post-image"
                                                                                        /><span class="team-item-tag">Neural</span></span
                                                                                    >
                                                                                </a>
                                                                                <div class="team-item-content">
                                                                                    <div class="team-item-socials">
                                                                                        <span class="socials-trigger-wrapper"><i class="socials-trigger fontello icon-button-arrow"></i></span>
                                                                                        <div class="team-socials-wrapper">
                                                                                            <ul class="team-socials wrapper-socials">
                                                                                                <li><a href="https://www.youtube.com/" target="_blank" class="fab fa-youtube"></a></li>
                                                                                                <li><a href="https://www.linkedin.com/" target="_blank" class="fab fa-linkedin-in"></a></li>
                                                                                                <li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
                                                                                                <li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                    <a href="./../team/alan-begham/index.html" class="post-title">Alan Begham</a><span class="team-item-position"
                                                                                        >CEO Neuro</span
                                                                                    >
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="elementor-element elementor-element-d9cab17 listing-pagination-border-style-gradient listing-pagination-bakground-style-solid elementor-widget elementor-widget-neuros_team_members"
                                                        data-id="d9cab17"
                                                        data-element_type="widget"
                                                        data-widget_type="neuros_team_members.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="neuros-team-members-widget">
                                                                <div
                                                                    class="archive-listing"
                                                                    data-ajax='{"post_type":"neuros_team_member","ignore_sticky_posts":true,"orderby":"date","order":"desc","link_base":".\/\/meet-neuro","post__in":["875"],"posts_per_page":1,"columns_number":1,"paged":1}'
                                                                    data-widget='{"item_class":"team-item-wrapper","columns_number":1,"show_pagination":"yes"}'
                                                                >
                                                                    <div class="archive-listing-wrapper team-listing-wrapper team-grid-listing columns-1">
                                                                        <div class="team-item-wrapper post-875 neuros_team_member type-neuros_team_member status-publish has-post-thumbnail hentry">
                                                                            <div class="team-item">
                                                                                <a href="./../team/brandon-adams/index.html" class="team-item-link">
                                                                                    <span class="team-item-media"
                                                                                        ><img
                                                                                            decoding="async"
                                                                                            alt="funny-curious-man-makes-grimace-purses-lips-looks-doubtfully 1"
                                                                                            title="funny-curious-man-makes-grimace-purses-lips-looks-doubtfully 1"
                                                                                            src="wp-content/uploads/2024/01/funny-curious-man-makes-grimace-purses-lips-looks-doubtfully-1.jpg"
                                                                                            class="attachment-neuros_team_thumbnail size-full wp-post-image"
                                                                                        /><span class="team-item-tag">Digital</span></span
                                                                                    >
                                                                                </a>
                                                                                <div class="team-item-content">
                                                                                    <div class="team-item-socials">
                                                                                        <span class="socials-trigger-wrapper"><i class="socials-trigger fontello icon-button-arrow"></i></span>
                                                                                        <div class="team-socials-wrapper">
                                                                                            <ul class="team-socials wrapper-socials">
                                                                                                <li><a href="https://www.youtube.com/" target="_blank" class="fab fa-youtube"></a></li>
                                                                                                <li><a href="https://www.linkedin.com/" target="_blank" class="fab fa-linkedin-in"></a></li>
                                                                                                <li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
                                                                                                <li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                    <a href="./../team/brandon-adams/index.html" class="post-title">Brandon Adams</a><span class="team-item-position"
                                                                                        >HR Neuro</span
                                                                                    >
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ffececf"
                                                data-id="ffececf"
                                                data-element_type="column"
                                            >
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div
                                                        class="elementor-element elementor-element-c524762 listing-pagination-border-style-gradient listing-pagination-bakground-style-solid elementor-widget elementor-widget-neuros_team_members"
                                                        data-id="c524762"
                                                        data-element_type="widget"
                                                        data-widget_type="neuros_team_members.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="neuros-team-members-widget">
                                                                <div
                                                                    class="archive-listing"
                                                                    data-ajax='{"post_type":"neuros_team_member","ignore_sticky_posts":true,"orderby":"date","order":"desc","link_base":".\/\/meet-neuro","post__in":["880"],"posts_per_page":1,"columns_number":1,"paged":1}'
                                                                    data-widget='{"item_class":"team-item-wrapper","columns_number":1,"show_pagination":"yes"}'
                                                                >
                                                                    <div class="archive-listing-wrapper team-listing-wrapper team-grid-listing columns-1">
                                                                        <div class="team-item-wrapper post-880 neuros_team_member type-neuros_team_member status-publish has-post-thumbnail hentry">
                                                                            <div class="team-item">
                                                                                <a href="./../team/arthur-dowson/index.html" class="team-item-link">
                                                                                    <span class="team-item-media"
                                                                                        ><img
                                                                                            decoding="async"
                                                                                            alt="handsome-blond-guy-with-blue-eyes-white-t-shirt-smiling 1"
                                                                                            title="handsome-blond-guy-with-blue-eyes-white-t-shirt-smiling 1"
                                                                                            src="wp-content/uploads/2024/01/handsome-blond-guy-with-blue-eyes-white-t-shirt-smiling-1.jpg"
                                                                                            class="attachment-neuros_team_thumbnail size-full wp-post-image"
                                                                                        /><span class="team-item-tag">Solution</span></span
                                                                                    >
                                                                                </a>
                                                                                <div class="team-item-content">
                                                                                    <div class="team-item-socials">
                                                                                        <span class="socials-trigger-wrapper"><i class="socials-trigger fontello icon-button-arrow"></i></span>
                                                                                        <div class="team-socials-wrapper">
                                                                                            <ul class="team-socials wrapper-socials">
                                                                                                <li><a href="https://www.youtube.com/" target="_blank" class="fab fa-youtube"></a></li>
                                                                                                <li><a href="https://www.linkedin.com/" target="_blank" class="fab fa-linkedin-in"></a></li>
                                                                                                <li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
                                                                                                <li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                    <a href="./../team/arthur-dowson/index.html" class="post-title">Arthur Dowson</a><span class="team-item-position"
                                                                                        >AI Programmer</span
                                                                                    >
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="elementor-element elementor-element-dcc3060 elementor-hidden-tablet elementor-hidden-mobile_extra elementor-hidden-mobile listing-pagination-border-style-gradient listing-pagination-bakground-style-solid elementor-widget elementor-widget-neuros_team_members"
                                                        data-id="dcc3060"
                                                        data-element_type="widget"
                                                        data-widget_type="neuros_team_members.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="neuros-team-members-widget">
                                                                <div
                                                                    class="archive-listing"
                                                                    data-ajax='{"post_type":"neuros_team_member","ignore_sticky_posts":true,"orderby":"date","order":"desc","link_base":".\/\/meet-neuro","post__in":["877"],"posts_per_page":1,"columns_number":1,"paged":1}'
                                                                    data-widget='{"item_class":"team-item-wrapper","columns_number":1,"show_pagination":"yes"}'
                                                                >
                                                                    <div class="archive-listing-wrapper team-listing-wrapper team-grid-listing columns-1">
                                                                        <div class="team-item-wrapper post-877 neuros_team_member type-neuros_team_member status-publish has-post-thumbnail hentry">
                                                                            <div class="team-item">
                                                                                <a href="./../team/alan-begham-2/index.html" class="team-item-link">
                                                                                    <span class="team-item-media"
                                                                                        ><img
                                                                                            decoding="async"
                                                                                            alt="waist-up-shot-handsome-calm-blond-blue-eyed-guy-with-bristle-white-t-shirt-looking-front-with-relaxed-carefree-facial-expression-posing-gray-wall-looking-sincere-chill 1-1"
                                                                                            title="waist-up-shot-handsome-calm-blond-blue-eyed-guy-with-bristle-white-t-shirt-looking-front-with-relaxed-carefree-facial-expression-posing-gray-wall-looking-sincere-chill 1-1"
                                                                                            src="wp-content/uploads/2024/01/waist-up-shot-handsome-calm-blond-blue-eyed-guy-with-bristle-white-t-shirt-looking-front-with-relaxed-carefree-facial-expression-posing-gray-wall-looking-sincere-chill-1-1.jpg"
                                                                                            class="attachment-neuros_team_thumbnail size-full wp-post-image"
                                                                                        /><span class="team-item-tag">Learning</span></span
                                                                                    >
                                                                                </a>
                                                                                <div class="team-item-content">
                                                                                    <div class="team-item-socials">
                                                                                        <span class="socials-trigger-wrapper"><i class="socials-trigger fontello icon-button-arrow"></i></span>
                                                                                        <div class="team-socials-wrapper">
                                                                                            <ul class="team-socials wrapper-socials">
                                                                                                <li><a href="https://www.youtube.com/" target="_blank" class="fab fa-youtube"></a></li>
                                                                                                <li><a href="https://www.linkedin.com/" target="_blank" class="fab fa-linkedin-in"></a></li>
                                                                                                <li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
                                                                                                <li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                    <a href="./../team/alan-begham-2/index.html" class="post-title">Alan Begham</a><span class="team-item-position"
                                                                                        >CEO Neuro</span
                                                                                    >
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-2d8f7c2 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="2d8f7c2"
                        data-element_type="section"
                        data-settings='{"stretch_section":"section-stretched"}'
                    >
                        <div class="elementor-background-overlay"></div>
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c073aa8" data-id="c073aa8" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-94b27cf elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="94b27cf"
                                        data-element_type="section"
                                        data-settings='{"background_background":"classic"}'
                                    >
                                        <div class="elementor-container elementor-column-gap-wide">
                                            <div
                                                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-80ff8ba elementor-hidden-tablet_extra elementor-hidden-tablet elementor-hidden-mobile_extra elementor-hidden-mobile"
                                                data-id="80ff8ba"
                                                data-element_type="column"
                                            >
                                                <div class="elementor-widget-wrap"></div>
                                            </div>
                                            <div
                                                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-018cb02"
                                                data-id="018cb02"
                                                data-element_type="column"
                                            >
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div
                                                        class="elementor-element elementor-element-2ccf995 elementor-widget__width-initial elementor-invisible elementor-widget elementor-widget-neuros_heading"
                                                        data-id="2ccf995"
                                                        data-element_type="widget"
                                                        data-settings='{"_animation":"neuros_heading_animation","_animation_delay":300}'
                                                        data-widget_type="neuros_heading.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="neuros-heading-widget">
                                                                <h2 class="neuros-heading">
                                                                    <span class="neuros-subheading">awards</span><span class="neuros-heading-content has_gradient_color_text"
                                                                        >Celebrating our award-winning achievements</span
                                                                    >
                                                                </h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="elementor-element elementor-element-9448557 elementor-widget elementor-widget-neuros_awards"
                                                        data-id="9448557"
                                                        data-element_type="widget"
                                                        data-widget_type="neuros_awards.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="neuros-awards-widget">
                                                                <div class="awards-list">
                                                                    <div class="award-item">
                                                                        <div class="award-year-column">
                                                                            <span class="award-year">2021</span>
                                                                        </div>
                                                                        <div class="award-subtitle-column">
                                                                            <span class="award-subtitle">Site of the day</span>
                                                                        </div>
                                                                        <div class="award-title-column">
                                                                            <h4 class="award-title">NLPGenius: Natural Language Processing Powered by Neural Networks</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="award-item">
                                                                        <div class="award-year-column">
                                                                            <span class="award-year">2021</span>
                                                                        </div>
                                                                        <div class="award-subtitle-column">
                                                                            <span class="award-subtitle">Best animation</span>
                                                                        </div>
                                                                        <div class="award-title-column">
                                                                            <h4 class="award-title">SmartTrader: Predictive Stock Market Analysis using Neural Networks</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="award-item">
                                                                        <div class="award-year-column">
                                                                            <span class="award-year">2022</span>
                                                                        </div>
                                                                        <div class="award-subtitle-column">
                                                                            <span class="award-subtitle">Site of the day</span>
                                                                        </div>
                                                                        <div class="award-title-column">
                                                                            <h4 class="award-title">HealthCareAI: Personalized Diagnostics and Treatment Recommendations with Neural Networks</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="award-item">
                                                                        <div class="award-year-column">
                                                                            <span class="award-year">2023</span>
                                                                        </div>
                                                                        <div class="award-subtitle-column">
                                                                            <span class="award-subtitle">Video Splash</span>
                                                                        </div>
                                                                        <div class="award-title-column">
                                                                            <h4 class="award-title">AutoDrive: Autonomous Vehicle Navigation with Advanced Neural Networks</h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <!-- Sidebar Container -->
    </div>
</Layout>
