---
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <PageTitle title="Proyectos" />
    <div class="content-wrapper content-wrapper-remove-bottom-margin content-wrapper-sidebar-position-none">
        <!-- Content Container -->
        <div class="content">
            <div class="content-inner">
                <div data-elementor-type="wp-page" data-elementor-id="4037" class="elementor elementor-4037">
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-d7b8b48 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="d7b8b48"
                        data-element_type="section"
                    >
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8a756aa" data-id="8a756aa" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-3684305 listing-filter-border-style-gradient listing-filter-background-style-solid elementor-widget elementor-widget-neuros_projects_listing"
                                        data-id="3684305"
                                        data-element_type="widget"
                                        data-widget_type="neuros_projects_listing.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="neuros-projects-listing-widget">
                                                <div
                                                    class="archive-listing"
                                                    data-ajax='{"post_type":"neuros_project","ignore_sticky_posts":true,"suppress_filters":false,"orderby":"date","order":"asc","link_base":".\/\/projects-modern","neuros_project_category":["modern"],"posts_per_page":4,"columns_number":1,"paged":1}'
                                                    data-widget='{"item_class":"project-item-wrapper","columns_number":1,"listing_type":"modern","show_pagination":"","excerpt_length":191,"read_more_text":"Explore more"}'
                                                >
                                                    <div class="archive-listing-wrapper project-listing-wrapper project-modern-listing">
                                                        <div
                                                            class="project-item-wrapper post-3860 neuros_project type-neuros_project status-publish has-post-thumbnail hentry neuros_project_category-audio neuros_project_category-development neuros_project_category-modern"
                                                        >
                                                            <div class="project-item">
                                                                <div class="project-item-modern-header">
                                                                    <span class="project-item-modern-year">2021</span>
                                                                    <h4 class="project-item-modern-title">DeepVision: Enhancing image recognition with Neural Networks</h4>
                                                                </div>
                                                                <div class="project-item-modern-content">
                                                                    <div class="project-item-media">
                                                                        <a href="./../projects/deepvision-enhancing-image-recognition-with-neural-networks/index.html">
                                                                            <img
                                                                                decoding="async"
                                                                                alt="Ooze (5) 3"
                                                                                srcset="wp-content/uploads/2024/01/Ooze-5-3.jpg 575w, wp-content/uploads/2024/01/Ooze-5-3.jpg 991w, wp-content/uploads/2024/01/Ooze-5-3.jpg 1340w"
                                                                                sizes="(max-width: 575px) 575px, (max-width: 991px) 991px"
                                                                                src="wp-content/uploads/2024/01/Ooze-5-3.jpg"
                                                                                class="attachment-neuros_project_modern_1_columns size-neuros_project_modern_1_columns wp-post-image"
                                                                            />
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-excerpt">
                                                                        Neural networks are a fundamental component of Artificial Intelligence (AI) systems Integrating neural network models into
                                                                        existing systems or software applications, enabling businesses to le
                                                                    </div>
                                                                    <div class="post-more-button">
                                                                        <a href="./../projects/deepvision-enhancing-image-recognition-with-neural-networks/index.html">Explore more</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="project-item-wrapper post-23170 neuros_project type-neuros_project status-publish has-post-thumbnail hentry neuros_project_category-audio neuros_project_category-development neuros_project_category-modern"
                                                        >
                                                            <div class="project-item">
                                                                <div class="project-item-modern-header">
                                                                    <span class="project-item-modern-year">2021</span>
                                                                    <h4 class="project-item-modern-title">DeepVision: Enhancing image recognition with Neural Networks</h4>
                                                                </div>
                                                                <div class="project-item-modern-content">
                                                                    <div class="project-item-media">
                                                                        <a href="./../projects/deepvision-enhancing-image-recognition-with-neural-networks-2/index.html">
                                                                            <img
                                                                                decoding="async"
                                                                                alt="Ooze (5) 3"
                                                                                srcset="wp-content/uploads/2024/01/Ooze-5-3-1.jpg 575w, wp-content/uploads/2024/01/Ooze-5-3-1.jpg 991w, wp-content/uploads/2024/01/Ooze-5-3-1.jpg 1340w"
                                                                                sizes="(max-width: 575px) 575px, (max-width: 991px) 991px"
                                                                                src="wp-content/uploads/2024/01/Ooze-5-3-1.jpg"
                                                                                class="attachment-neuros_project_modern_1_columns size-neuros_project_modern_1_columns wp-post-image"
                                                                            />
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-excerpt">
                                                                        Neural networks are a fundamental component of Artificial Intelligence (AI) systems Integrating neural network models into
                                                                        existing systems or software applications, enabling businesses to le
                                                                    </div>
                                                                    <div class="post-more-button">
                                                                        <a href="./../projects/deepvision-enhancing-image-recognition-with-neural-networks-2/index.html">Explore more</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="project-item-wrapper post-4048 neuros_project type-neuros_project status-publish has-post-thumbnail hentry neuros_project_category-modern"
                                                        >
                                                            <div class="project-item">
                                                                <div class="project-item-modern-header">
                                                                    <span class="project-item-modern-year">2023</span>
                                                                    <h4 class="project-item-modern-title">AutoDrive: Autonomous vehicle navigation with advanced Neural Networks</h4>
                                                                </div>
                                                                <div class="project-item-modern-content">
                                                                    <div class="project-item-media">
                                                                        <a href="./../projects/autodrive-autonomous-vehicle-navigation-with-advanced-neural-networks/index.html">
                                                                            <img
                                                                                decoding="async"
                                                                                alt="Ooze (25) 4"
                                                                                srcset="wp-content/uploads/2024/02/Ooze-25-4.jpg 575w, wp-content/uploads/2024/02/Ooze-25-4.jpg 991w, wp-content/uploads/2024/02/Ooze-25-4.jpg 1340w"
                                                                                sizes="(max-width: 575px) 575px, (max-width: 991px) 991px"
                                                                                src="wp-content/uploads/2024/02/Ooze-25-4.jpg"
                                                                                class="attachment-neuros_project_modern_1_columns size-neuros_project_modern_1_columns wp-post-image"
                                                                            />
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-excerpt">
                                                                        Integrating neural network models into existing systems or software applications, enabling businesses to leverage AI
                                                                        capabilities seamlessly. In today&#8217;s fast-paced and data-driven world
                                                                    </div>
                                                                    <div class="post-more-button">
                                                                        <a href="./../projects/autodrive-autonomous-vehicle-navigation-with-advanced-neural-networks/index.html">Explore more</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="project-item-wrapper post-23188 neuros_project type-neuros_project status-publish has-post-thumbnail hentry neuros_project_category-modern"
                                                        >
                                                            <div class="project-item">
                                                                <div class="project-item-modern-header">
                                                                    <span class="project-item-modern-year">2023</span>
                                                                    <h4 class="project-item-modern-title">AutoDrive: Autonomous vehicle navigation with advanced Neural Networks</h4>
                                                                </div>
                                                                <div class="project-item-modern-content">
                                                                    <div class="project-item-media">
                                                                        <a href="./../projects/autodrive-autonomous-vehicle-navigation-with-advanced-neural-networks-2/index.html">
                                                                            <img
                                                                                decoding="async"
                                                                                alt="Ooze (25) 4"
                                                                                srcset="wp-content/uploads/2024/02/Ooze-25-4-2.jpg 575w, wp-content/uploads/2024/02/Ooze-25-4-2.jpg 991w, wp-content/uploads/2024/02/Ooze-25-4-2.jpg 1340w"
                                                                                sizes="(max-width: 575px) 575px, (max-width: 991px) 991px"
                                                                                src="wp-content/uploads/2024/02/Ooze-25-4-2.jpg"
                                                                                class="attachment-neuros_project_modern_1_columns size-neuros_project_modern_1_columns wp-post-image"
                                                                            />
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-excerpt">
                                                                        Integrating neural network models into existing systems or software applications, enabling businesses to leverage AI
                                                                        capabilities seamlessly. In today&#8217;s fast-paced and data-driven world
                                                                    </div>
                                                                    <div class="post-more-button">
                                                                        <a href="./../projects/autodrive-autonomous-vehicle-navigation-with-advanced-neural-networks-2/index.html">Explore more</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <!-- Sidebar Container -->
    </div>
</Layout>

<style>
    h4,
    .editor-styles-wrapper .block-editor-block-list__layout h4,
    body .elementor-widget-heading h4.elementor-heading-title,
    .woocommerce .comment-reply-title,
    .woocommerce-Reviews-title {
        letter-spacing: -0.05em;
        word-spacing: 0px;
        font-weight: 400;
    }

    @media only screen and (min-width: 768px) {
        h4,
        .editor-styles-wrapper .block-editor-block-list__layout h4,
        body .elementor-widget-heading h4.elementor-heading-title,
        .woocommerce .comment-reply-title,
        .woocommerce-Reviews-title {
            font-size: 25px;
            line-height: 1.3333em;
        }
    }

    @media only screen and (min-width: 992px) {
        h4,
        .editor-styles-wrapper .block-editor-block-list__layout h4,
        body .elementor-widget-heading h4.elementor-heading-title,
        .woocommerce .comment-reply-title,
        .woocommerce-Reviews-title {
            font-size: 30px;
            line-height: 1.3333em;
        }
    }

    .project-item-media > a > img {
        aspect-ratio: 2/1 !important;
    }
</style>
