---
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <link rel="stylesheet" id="neuros-theme-css" href="wp-content/themes/neuros/css/awesome-team.css" type="text/css" />
    <PageTitle title="Equipo" />
    <div class="content-wrapper content-wrapper-remove-bottom-margin content-wrapper-sidebar-position-none">
        <!-- Content Container -->
        <div class="content">
            <div class="content-inner">
                <div data-elementor-type="wp-page" data-elementor-id="450" class="elementor elementor-450">
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-7cc52de elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="7cc52de"
                        data-element_type="section"
                    >
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-bf36004" data-id="bf36004" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-53b653c elementor-widget elementor-widget-neuros_heading"
                                        data-id="53b653c"
                                        data-element_type="widget"
                                        data-widget_type="neuros_heading.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="neuros-heading-widget">
                                                <h2 class="neuros-heading">
                                                    <span class="neuros-subheading">team</span><span class="neuros-heading-content has_gradient_color_text"
                                                        >The Neural Network experts: uniting talent for intelligent solutions</span
                                                    >
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-3585452 elementor-hidden-tablet_extra elementor-hidden-tablet elementor-hidden-mobile_extra elementor-hidden-mobile"
                                data-id="3585452"
                                data-element_type="column"
                            >
                                <div class="elementor-widget-wrap"></div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-ef95bd1" data-id="ef95bd1" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-677a47d elementor-widget__width-auto elementor-widget elementor-widget-counter"
                                        data-id="677a47d"
                                        data-element_type="widget"
                                        data-widget_type="counter.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="elementor-counter">
                                                <div class="elementor-counter-title">Awesome team members</div>
                                                <div class="elementor-counter-number-wrapper">
                                                    <span class="elementor-counter-number-prefix"></span>
                                                    <span class="elementor-counter-number" data-duration="2000" data-to-value="250" data-from-value="0" data-delimiter=",">0</span>
                                                    <span class="elementor-counter-number-suffix">+</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-092dca0 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="092dca0"
                        data-element_type="section"
                    >
                        <div class="elementor-container elementor-column-gap-wide">
                            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-ba6abff" data-id="ba6abff" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-e178619 elementor-widget elementor-widget-neuros_team_members"
                                        data-id="e178619"
                                        data-element_type="widget"
                                        data-widget_type="neuros_team_members.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="neuros-team-members-widget">
                                                <div
                                                    class="archive-listing"
                                                    data-ajax='{"post_type":"neuros_team_member","ignore_sticky_posts":true,"orderby":"date","order":"desc","link_base":".\/\/awesome-team","post__in":["882"],"posts_per_page":1,"columns_number":1,"paged":1}'
                                                    data-widget='{"item_class":"team-item-wrapper","columns_number":1,"show_pagination":""}'
                                                >
                                                    <div class="archive-listing-wrapper team-listing-wrapper team-grid-listing columns-1">
                                                        <div class="team-item-wrapper post-882 neuros_team_member type-neuros_team_member status-publish has-post-thumbnail hentry">
                                                            <div class="team-item">
                                                                <a href="./../team/dan-smith/index.html" class="team-item-link">
                                                                    <span class="team-item-media"
                                                                        ><img
                                                                            decoding="async"
                                                                            alt="portrait-confident-man-30s-with-bristle-wearing-casual-t-shirt-posing-isolated-white"
                                                                            title="portrait-confident-man-30s-with-bristle-wearing-casual-t-shirt-posing-isolated-white 1"
                                                                            src="wp-content/uploads/2024/01/portrait-confident-man-30s-with-bristle-wearing-casual-t-shirt-posing-isolated-white-1.jpg"
                                                                            class="attachment-neuros_team_thumbnail size-full wp-post-image"
                                                                        /><span class="team-item-tag">Future</span></span
                                                                    >
                                                                </a>
                                                                <div class="team-item-content">
                                                                    <div class="team-item-socials">
                                                                        <span class="socials-trigger-wrapper"><i class="socials-trigger fontello icon-button-arrow"></i></span><div
                                                                            class="team-socials-wrapper"
                                                                        >
                                                                            <ul class="team-socials wrapper-socials">
                                                                                <li><a href="https://www.youtube.com/" target="_blank" class="fab fa-youtube"></a></li>
                                                                                <li><a href="https://www.linkedin.com/" target="_blank" class="fab fa-linkedin-in"></a></li>
                                                                                <li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
                                                                                <li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <a href="./../team/dan-smith/index.html" class="post-title">Dan Smith</a><span class="team-item-position">Manager</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-f933d71" data-id="f933d71" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-6fa2742 elementor-widget elementor-widget-neuros_team_members"
                                        data-id="6fa2742"
                                        data-element_type="widget"
                                        data-widget_type="neuros_team_members.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="neuros-team-members-widget">
                                                <div
                                                    class="archive-listing"
                                                    data-ajax='{"post_type":"neuros_team_member","ignore_sticky_posts":true,"orderby":"date","order":"desc","link_base":".\/\/awesome-team","post__in":["867"],"posts_per_page":1,"columns_number":1,"paged":1}'
                                                    data-widget='{"item_class":"team-item-wrapper","columns_number":1,"show_pagination":""}'
                                                >
                                                    <div class="archive-listing-wrapper team-listing-wrapper team-grid-listing columns-1">
                                                        <div class="team-item-wrapper post-867 neuros_team_member type-neuros_team_member status-publish has-post-thumbnail hentry">
                                                            <div class="team-item">
                                                                <a href="./../team/alan-begham/index.html" class="team-item-link">
                                                                    <span class="team-item-media"
                                                                        ><img
                                                                            decoding="async"
                                                                            alt="confident-ginger-man-with-trendy-hairstyle-wears-spectacles-looks-directly 1-1"
                                                                            title="confident-ginger-man-with-trendy-hairstyle-wears-spectacles-looks-directly 1-1"
                                                                            src="wp-content/uploads/2024/01/confident-ginger-man-with-trendy-hairstyle-wears-spectacles-looks-directly-1-1.jpg"
                                                                            class="attachment-neuros_team_thumbnail size-full wp-post-image"
                                                                        /><span class="team-item-tag">Neural</span></span
                                                                    >
                                                                </a>
                                                                <div class="team-item-content">
                                                                    <div class="team-item-socials">
                                                                        <span class="socials-trigger-wrapper"><i class="socials-trigger fontello icon-button-arrow"></i></span><div
                                                                            class="team-socials-wrapper"
                                                                        >
                                                                            <ul class="team-socials wrapper-socials">
                                                                                <li><a href="https://www.youtube.com/" target="_blank" class="fab fa-youtube"></a></li>
                                                                                <li><a href="https://www.linkedin.com/" target="_blank" class="fab fa-linkedin-in"></a></li>
                                                                                <li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
                                                                                <li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <a href="./../team/alan-begham/index.html" class="post-title">Alan Begham</a><span class="team-item-position">CEO Neuro</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-7c45a08" data-id="7c45a08" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-b268c68 elementor-widget elementor-widget-neuros_team_members"
                                        data-id="b268c68"
                                        data-element_type="widget"
                                        data-widget_type="neuros_team_members.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="neuros-team-members-widget">
                                                <div
                                                    class="archive-listing"
                                                    data-ajax='{"post_type":"neuros_team_member","ignore_sticky_posts":true,"orderby":"date","order":"desc","link_base":".\/\/awesome-team","post__in":["880"],"posts_per_page":1,"columns_number":1,"paged":1}'
                                                    data-widget='{"item_class":"team-item-wrapper","columns_number":1,"show_pagination":""}'
                                                >
                                                    <div class="archive-listing-wrapper team-listing-wrapper team-grid-listing columns-1">
                                                        <div class="team-item-wrapper post-880 neuros_team_member type-neuros_team_member status-publish has-post-thumbnail hentry">
                                                            <div class="team-item">
                                                                <a href="./../team/arthur-dowson/index.html" class="team-item-link">
                                                                    <span class="team-item-media"
                                                                        ><img
                                                                            decoding="async"
                                                                            alt="handsome-blond-guy-with-blue-eyes-white-t-shirt-smiling 1"
                                                                            title="handsome-blond-guy-with-blue-eyes-white-t-shirt-smiling 1"
                                                                            src="wp-content/uploads/2024/01/handsome-blond-guy-with-blue-eyes-white-t-shirt-smiling-1.jpg"
                                                                            class="attachment-neuros_team_thumbnail size-full wp-post-image"
                                                                        /><span class="team-item-tag">Solution</span></span
                                                                    >
                                                                </a>
                                                                <div class="team-item-content">
                                                                    <div class="team-item-socials">
                                                                        <span class="socials-trigger-wrapper"><i class="socials-trigger fontello icon-button-arrow"></i></span><div
                                                                            class="team-socials-wrapper"
                                                                        >
                                                                            <ul class="team-socials wrapper-socials">
                                                                                <li><a href="https://www.youtube.com/" target="_blank" class="fab fa-youtube"></a></li>
                                                                                <li><a href="https://www.linkedin.com/" target="_blank" class="fab fa-linkedin-in"></a></li>
                                                                                <li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
                                                                                <li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <a href="./../team/arthur-dowson/index.html" class="post-title">Arthur Dowson</a><span class="team-item-position"
                                                                        >AI Programmer</span
                                                                    >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-f7c2ef2" data-id="f7c2ef2" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-9c32279 elementor-hidden-widescreen elementor-hidden-desktop elementor-hidden-laptop elementor-hidden-tablet_extra elementor-widget elementor-widget-neuros_team_members"
                                        data-id="9c32279"
                                        data-element_type="widget"
                                        data-widget_type="neuros_team_members.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="neuros-team-members-widget">
                                                <div
                                                    class="archive-listing"
                                                    data-ajax='{"post_type":"neuros_team_member","ignore_sticky_posts":true,"orderby":"date","order":"desc","link_base":".\/\/awesome-team","post__in":["875"],"posts_per_page":1,"columns_number":1,"paged":1}'
                                                    data-widget='{"item_class":"team-item-wrapper","columns_number":1,"show_pagination":""}'
                                                >
                                                    <div class="archive-listing-wrapper team-listing-wrapper team-grid-listing columns-1">
                                                        <div class="team-item-wrapper post-875 neuros_team_member type-neuros_team_member status-publish has-post-thumbnail hentry">
                                                            <div class="team-item">
                                                                <a href="./../team/brandon-adams/index.html" class="team-item-link">
                                                                    <span class="team-item-media"
                                                                        ><img
                                                                            decoding="async"
                                                                            alt="funny-curious-man-makes-grimace-purses-lips-looks-doubtfully 1"
                                                                            title="funny-curious-man-makes-grimace-purses-lips-looks-doubtfully 1"
                                                                            src="wp-content/uploads/2024/01/funny-curious-man-makes-grimace-purses-lips-looks-doubtfully-1.jpg"
                                                                            class="attachment-neuros_team_thumbnail size-full wp-post-image"
                                                                        /><span class="team-item-tag">Digital</span></span
                                                                    >
                                                                </a>
                                                                <div class="team-item-content">
                                                                    <div class="team-item-socials">
                                                                        <span class="socials-trigger-wrapper"><i class="socials-trigger fontello icon-button-arrow"></i></span><div
                                                                            class="team-socials-wrapper"
                                                                        >
                                                                            <ul class="team-socials wrapper-socials">
                                                                                <li><a href="https://www.youtube.com/" target="_blank" class="fab fa-youtube"></a></li>
                                                                                <li><a href="https://www.linkedin.com/" target="_blank" class="fab fa-linkedin-in"></a></li>
                                                                                <li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
                                                                                <li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <a href="./../team/brandon-adams/index.html" class="post-title">Brandon Adams</a><span class="team-item-position">HR Neuro</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-680009a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="680009a"
                        data-element_type="section"
                    >
                        <div class="elementor-container elementor-column-gap-wide">
                            <div
                                class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-bc66c4b elementor-hidden-tablet elementor-hidden-mobile_extra elementor-hidden-mobile"
                                data-id="bc66c4b"
                                data-element_type="column"
                            >
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-811ed2f elementor-widget elementor-widget-image"
                                        data-id="811ed2f"
                                        data-element_type="widget"
                                        data-widget_type="image.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <img
                                                loading="lazy"
                                                decoding="async"
                                                width="225"
                                                height="119"
                                                src="wp-content/uploads/2024/01/team-member-logo.png"
                                                class="attachment-large size-large wp-image-992"
                                                alt=""
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-3dad99b elementor-hidden-tablet elementor-hidden-mobile_extra elementor-hidden-mobile"
                                data-id="3dad99b"
                                data-element_type="column"
                            >
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-495b5a3 elementor-widget elementor-widget-neuros_team_members"
                                        data-id="495b5a3"
                                        data-element_type="widget"
                                        data-widget_type="neuros_team_members.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="neuros-team-members-widget">
                                                <div
                                                    class="archive-listing"
                                                    data-ajax='{"post_type":"neuros_team_member","ignore_sticky_posts":true,"orderby":"date","order":"desc","link_base":".\/\/awesome-team","post__in":["875"],"posts_per_page":1,"columns_number":1,"paged":1}'
                                                    data-widget='{"item_class":"team-item-wrapper","columns_number":1,"show_pagination":""}'
                                                >
                                                    <div class="archive-listing-wrapper team-listing-wrapper team-grid-listing columns-1">
                                                        <div class="team-item-wrapper post-875 neuros_team_member type-neuros_team_member status-publish has-post-thumbnail hentry">
                                                            <div class="team-item">
                                                                <a href="./../team/brandon-adams/index.html" class="team-item-link">
                                                                    <span class="team-item-media"
                                                                        ><img
                                                                            decoding="async"
                                                                            alt="funny-curious-man-makes-grimace-purses-lips-looks-doubtfully 1"
                                                                            title="funny-curious-man-makes-grimace-purses-lips-looks-doubtfully 1"
                                                                            src="wp-content/uploads/2024/01/funny-curious-man-makes-grimace-purses-lips-looks-doubtfully-1.jpg"
                                                                            class="attachment-neuros_team_thumbnail size-full wp-post-image"
                                                                        /><span class="team-item-tag">Digital</span></span
                                                                    >
                                                                </a>
                                                                <div class="team-item-content">
                                                                    <div class="team-item-socials">
                                                                        <span class="socials-trigger-wrapper"><i class="socials-trigger fontello icon-button-arrow"></i></span><div
                                                                            class="team-socials-wrapper"
                                                                        >
                                                                            <ul class="team-socials wrapper-socials">
                                                                                <li><a href="https://www.youtube.com/" target="_blank" class="fab fa-youtube"></a></li>
                                                                                <li><a href="https://www.linkedin.com/" target="_blank" class="fab fa-linkedin-in"></a></li>
                                                                                <li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
                                                                                <li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <a href="./../team/brandon-adams/index.html" class="post-title">Brandon Adams</a><span class="team-item-position">HR Neuro</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-29b368b" data-id="29b368b" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-cf05386 elementor-widget elementor-widget-neuros_team_members"
                                        data-id="cf05386"
                                        data-element_type="widget"
                                        data-widget_type="neuros_team_members.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="neuros-team-members-widget">
                                                <div
                                                    class="archive-listing"
                                                    data-ajax='{"post_type":"neuros_team_member","ignore_sticky_posts":true,"orderby":"date","order":"desc","link_base":".\/\/awesome-team","post__in":["877"],"posts_per_page":1,"columns_number":1,"paged":1}'
                                                    data-widget='{"item_class":"team-item-wrapper","columns_number":1,"show_pagination":""}'
                                                >
                                                    <div class="archive-listing-wrapper team-listing-wrapper team-grid-listing columns-1">
                                                        <div class="team-item-wrapper post-877 neuros_team_member type-neuros_team_member status-publish has-post-thumbnail hentry">
                                                            <div class="team-item">
                                                                <a href="./../team/alan-begham-2/index.html" class="team-item-link">
                                                                    <span class="team-item-media"
                                                                        ><img
                                                                            decoding="async"
                                                                            alt="waist-up-shot-handsome-calm-blond-blue-eyed-guy-with-bristle-white-t-shirt-looking-front-with-relaxed-carefree-facial-expression-posing-gray-wall-looking-sincere-chill 1-1"
                                                                            title="waist-up-shot-handsome-calm-blond-blue-eyed-guy-with-bristle-white-t-shirt-looking-front-with-relaxed-carefree-facial-expression-posing-gray-wall-looking-sincere-chill 1-1"
                                                                            src="wp-content/uploads/2024/01/waist-up-shot-handsome-calm-blond-blue-eyed-guy-with-bristle-white-t-shirt-looking-front-with-relaxed-carefree-facial-expression-posing-gray-wall-looking-sincere-chill-1-1.jpg"
                                                                            class="attachment-neuros_team_thumbnail size-full wp-post-image"
                                                                        /><span class="team-item-tag">Learning</span></span
                                                                    >
                                                                </a>
                                                                <div class="team-item-content">
                                                                    <div class="team-item-socials">
                                                                        <span class="socials-trigger-wrapper"><i class="socials-trigger fontello icon-button-arrow"></i></span><div
                                                                            class="team-socials-wrapper"
                                                                        >
                                                                            <ul class="team-socials wrapper-socials">
                                                                                <li><a href="https://www.youtube.com/" target="_blank" class="fab fa-youtube"></a></li>
                                                                                <li><a href="https://www.linkedin.com/" target="_blank" class="fab fa-linkedin-in"></a></li>
                                                                                <li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
                                                                                <li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <a href="./../team/alan-begham-2/index.html" class="post-title">Alan Begham</a><span class="team-item-position">CEO Neuro</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-1fa9ada" data-id="1fa9ada" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-9a47e28 elementor-widget elementor-widget-neuros_team_members"
                                        data-id="9a47e28"
                                        data-element_type="widget"
                                        data-widget_type="neuros_team_members.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="neuros-team-members-widget">
                                                <div
                                                    class="archive-listing"
                                                    data-ajax='{"post_type":"neuros_team_member","ignore_sticky_posts":true,"orderby":"date","order":"desc","link_base":".\/\/awesome-team","post__in":["872"],"posts_per_page":1,"columns_number":1,"paged":1}'
                                                    data-widget='{"item_class":"team-item-wrapper","columns_number":1,"show_pagination":""}'
                                                >
                                                    <div class="archive-listing-wrapper team-listing-wrapper team-grid-listing columns-1">
                                                        <div class="team-item-wrapper post-872 neuros_team_member type-neuros_team_member status-publish has-post-thumbnail hentry">
                                                            <div class="team-item">
                                                                <a href="./../team/tim-bearton/index.html" class="team-item-link">
                                                                    <span class="team-item-media"
                                                                        ><img
                                                                            decoding="async"
                                                                            alt="portrait-cheerful-attractive-african-american-young-man 1-1"
                                                                            title="portrait-cheerful-attractive-african-american-young-man 1-1"
                                                                            src="wp-content/uploads/2024/01/portrait-cheerful-attractive-african-american-young-man-1-1.jpg"
                                                                            class="attachment-neuros_team_thumbnail size-full wp-post-image"
                                                                        /><span class="team-item-tag">Ideas</span></span
                                                                    >
                                                                </a>
                                                                <div class="team-item-content">
                                                                    <div class="team-item-socials">
                                                                        <span class="socials-trigger-wrapper"><i class="socials-trigger fontello icon-button-arrow"></i></span><div
                                                                            class="team-socials-wrapper"
                                                                        >
                                                                            <ul class="team-socials wrapper-socials">
                                                                                <li><a href="https://www.youtube.com/" target="_blank" class="fab fa-youtube"></a></li>
                                                                                <li><a href="https://www.linkedin.com/" target="_blank" class="fab fa-linkedin-in"></a></li>
                                                                                <li><a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a></li>
                                                                                <li><a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <a href="./../team/tim-bearton/index.html" class="post-title">Tim Bearton</a><span class="team-item-position">HR Neuro</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-c9e54dc elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
                        data-id="c9e54dc"
                        data-element_type="section"
                        data-settings='{"stretch_section":"section-stretched"}'
                    >
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8a462fe" data-id="8a462fe" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-f6eb3d1 elementor-widget elementor-widget-neuros_special_text"
                                        data-id="f6eb3d1"
                                        data-element_type="widget"
                                        data-widget_type="neuros_special_text.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="special-text-wrapper animate animated animation-direction-left">
                                                <div class="special-text">/ Artificial Intellegance in shaping the future of technology.&nbsp;</div>
                                                <div class="special-text">/ Artificial Intellegance in shaping the future of technology.&nbsp;</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-9f49a5b elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
                        data-id="9f49a5b"
                        data-element_type="section"
                        data-settings='{"stretch_section":"section-stretched"}'
                    >
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e9438c2" data-id="e9438c2" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <section
                                        data-parallax="scroll"
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-ba700b5 elementor-section-full_width elementor-reverse-mobile elementor-section-height-default elementor-section-height-default"
                                        data-id="ba700b5"
                                        data-element_type="section"
                                        data-settings='{"background_background":"classic"}'
                                    >
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div
                                                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-391a9b3"
                                                data-id="391a9b3"
                                                data-element_type="column"
                                            >
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div
                                                        class="elementor-element elementor-element-41a4563 elementor-widget elementor-widget-neuros_testimonial_carousel"
                                                        data-id="41a4563"
                                                        data-element_type="widget"
                                                        data-widget_type="neuros_testimonial_carousel.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="neuros-testimonial-carousel-widget">
                                                                <div class="testimonial-carousel-wrapper">
                                                                    <div class="testimonials-slider-container">
                                                                        <div
                                                                            class="testimonials-slider owl-carousel owl-theme"
                                                                            data-slider-options='{"items":1,"nav":true,"dots":false,"autoplayHoverPause":true,"autoplay":false,"autoplaySpeed":300,"autoplayTimeout":5000,"loop":true,"speed":500,"dotsContainer":".owl-dots-41a4563","navContainer":".owl-nav-41a4563"}'
                                                                        >
                                                                            <div class="testimonial-item slider-item slider-item-type-1">
                                                                                <div class="testimonial">
                                                                                    <p>
                                                                                        Working withNeuro has been a game-changer for our business. Their AI solutions have revolutionized our
                                                                                        operations, enabling us to automate repetitive tasks and make data-driven decisions with ease. We couldn't be
                                                                                        happier with the results."
                                                                                    </p>
                                                                                </div>
                                                                                <div class="author-container">
                                                                                    <div class="author-info">
                                                                                        <span class="author-name">John Anderson</span><span class="author-position">CEO of XYZ Company</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="testimonial-item slider-item slider-item-type-1">
                                                                                <div class="testimonial">
                                                                                    <p>
                                                                                        Working withNeuro has been a game-changer for our business. Their AI solutions have revolutionized our
                                                                                        operations, enabling us to automate repetitive tasks and make data-driven decisions with ease. We couldn't be
                                                                                        happier with the results."
                                                                                    </p>
                                                                                </div>
                                                                                <div class="author-container">
                                                                                    <div class="author-info">
                                                                                        <span class="author-name">John Anderson</span><span class="author-position">CEO of XYZ Company</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="owl-nav-wrapper"><div class="owl-nav owl-nav-41a4563"></div></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1ff9063"
                                                data-id="1ff9063"
                                                data-element_type="column"
                                            >
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div
                                                        class="elementor-element elementor-element-e06c0d9 elementor-widget elementor-widget-neuros_heading"
                                                        data-id="e06c0d9"
                                                        data-element_type="widget"
                                                        data-widget_type="neuros_heading.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="neuros-heading-widget">
                                                                <h2 class="neuros-heading">
                                                                    <span class="neuros-subheading">testimonials</span><span class="neuros-heading-content has_gradient_color_text"
                                                                        >Hear what our customers say about our AI solutions</span
                                                                    >
                                                                </h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="elementor-element elementor-element-cbf7f1d elementor-widget elementor-widget-counter"
                                                        data-id="cbf7f1d"
                                                        data-element_type="widget"
                                                        data-widget_type="counter.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-counter">
                                                                <div class="elementor-counter-title">Happy clients</div>
                                                                <div class="elementor-counter-number-wrapper">
                                                                    <span class="elementor-counter-number-prefix"></span>
                                                                    <span class="elementor-counter-number" data-duration="2000" data-to-value="250" data-from-value="0" data-delimiter=",">0</span>
                                                                    <span class="elementor-counter-number-suffix">+</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-e2af6d3 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="e2af6d3"
                        data-element_type="section"
                    >
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e148880" data-id="e148880" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div
                                        class="elementor-element elementor-element-2cf41e5 title-alignment-center elementor-widget elementor-widget-neuros_image_carousel"
                                        data-id="2cf41e5"
                                        data-element_type="widget"
                                        data-widget_type="neuros_image_carousel.default"
                                    >
                                        <div class="elementor-widget-container">
                                            <div class="neuros-image-slider-widget">
                                                <div class="slider-wrapper">
                                                    <div
                                                        class="owl-carousel owl-theme view-type-1"
                                                        data-slider-options='{"items":6,"nav":false,"dots":true,"dotsContainer":".owl-dots-2cf41e5","dotsContainerMobile":".owl-dots-2cf41e5","autoplayHoverPause":true,"autoplay":false,"autoplaySpeed":300,"autoplayTimeout":5000,"loop":true,"speed":500}'
                                                    >
                                                        <div class="slider-item">
                                                            <div class="slider-item-inner">
                                                                <img
                                                                    loading="lazy"
                                                                    decoding="async"
                                                                    width="170"
                                                                    height="53"
                                                                    src="wp-content/uploads/2024/01/partners_1.png"
                                                                    class="attachment-full size-full wp-image-1120"
                                                                    alt=""
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class="slider-item">
                                                            <div class="slider-item-inner">
                                                                <img
                                                                    loading="lazy"
                                                                    decoding="async"
                                                                    width="162"
                                                                    height="60"
                                                                    src="wp-content/uploads/2024/01/partners_2.png"
                                                                    class="attachment-full size-full wp-image-1121"
                                                                    alt=""
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class="slider-item">
                                                            <div class="slider-item-inner">
                                                                <img
                                                                    loading="lazy"
                                                                    decoding="async"
                                                                    width="131"
                                                                    height="72"
                                                                    src="wp-content/uploads/2024/01/partners_3.png"
                                                                    class="attachment-full size-full wp-image-1122"
                                                                    alt=""
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class="slider-item">
                                                            <div class="slider-item-inner">
                                                                <img
                                                                    loading="lazy"
                                                                    decoding="async"
                                                                    width="183"
                                                                    height="44"
                                                                    src="wp-content/uploads/2024/01/partners_4.png"
                                                                    class="attachment-full size-full wp-image-1123"
                                                                    alt=""
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class="slider-item">
                                                            <div class="slider-item-inner">
                                                                <img
                                                                    loading="lazy"
                                                                    decoding="async"
                                                                    width="180"
                                                                    height="53"
                                                                    src="wp-content/uploads/2024/01/partners_5.png"
                                                                    class="attachment-full size-full wp-image-1124"
                                                                    alt=""
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class="slider-item">
                                                            <div class="slider-item-inner">
                                                                <img
                                                                    loading="lazy"
                                                                    decoding="async"
                                                                    width="104"
                                                                    height="92"
                                                                    src="wp-content/uploads/2024/01/partners_6.png"
                                                                    class="attachment-full size-full wp-image-1125"
                                                                    alt=""
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="owl-dots owl-dots-2cf41e5"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-6eb6679 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                        data-id="6eb6679"
                        data-element_type="section"
                        data-settings='{"stretch_section":"section-stretched"}'
                    >
                        <div class="elementor-background-overlay"></div>
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a4c3dc9" data-id="a4c3dc9" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <section
                                        class="elementor-section elementor-inner-section elementor-element elementor-element-17e70ce elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="17e70ce"
                                        data-element_type="section"
                                        data-settings='{"background_background":"classic"}'
                                    >
                                        <div class="elementor-container elementor-column-gap-wide">
                                            <div
                                                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-602041f elementor-hidden-tablet_extra elementor-hidden-tablet elementor-hidden-mobile_extra elementor-hidden-mobile"
                                                data-id="602041f"
                                                data-element_type="column"
                                            >
                                                <div class="elementor-widget-wrap"></div>
                                            </div>
                                            <div
                                                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c3088d6"
                                                data-id="c3088d6"
                                                data-element_type="column"
                                            >
                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                    <div
                                                        class="elementor-element elementor-element-53dfc3e elementor-widget__width-initial elementor-widget elementor-widget-neuros_heading"
                                                        data-id="53dfc3e"
                                                        data-element_type="widget"
                                                        data-widget_type="neuros_heading.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="neuros-heading-widget">
                                                                <h2 class="neuros-heading">
                                                                    <span class="neuros-subheading">awards</span><span class="neuros-heading-content has_gradient_color_text"
                                                                        >Celebrating our award-winning achievements</span
                                                                    >
                                                                </h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="elementor-element elementor-element-9c26a61 elementor-widget elementor-widget-neuros_awards"
                                                        data-id="9c26a61"
                                                        data-element_type="widget"
                                                        data-widget_type="neuros_awards.default"
                                                    >
                                                        <div class="elementor-widget-container">
                                                            <div class="neuros-awards-widget">
                                                                <div class="awards-list">
                                                                    <div class="award-item">
                                                                        <div class="award-year-column">
                                                                            <span class="award-year">2021</span>
                                                                        </div>
                                                                        <div class="award-subtitle-column">
                                                                            <span class="award-subtitle">Site of the day</span>
                                                                        </div>
                                                                        <div class="award-title-column">
                                                                            <h4 class="award-title">NLPGenius: Natural Language Processing Powered by Neural Networks</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="award-item">
                                                                        <div class="award-year-column">
                                                                            <span class="award-year">2021</span>
                                                                        </div>
                                                                        <div class="award-subtitle-column">
                                                                            <span class="award-subtitle">Best animation</span>
                                                                        </div>
                                                                        <div class="award-title-column">
                                                                            <h4 class="award-title">SmartTrader: Predictive Stock Market Analysis using Neural Networks</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="award-item">
                                                                        <div class="award-year-column">
                                                                            <span class="award-year">2022</span>
                                                                        </div>
                                                                        <div class="award-subtitle-column">
                                                                            <span class="award-subtitle">Site of the day</span>
                                                                        </div>
                                                                        <div class="award-title-column">
                                                                            <h4 class="award-title">HealthCareAI: Personalized Diagnostics and Treatment Recommendations with Neural Networks</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="award-item">
                                                                        <div class="award-year-column">
                                                                            <span class="award-year">2023</span>
                                                                        </div>
                                                                        <div class="award-subtitle-column">
                                                                            <span class="award-subtitle">Video Splash</span>
                                                                        </div>
                                                                        <div class="award-title-column">
                                                                            <h4 class="award-title">AutoDrive: Autonomous Vehicle Navigation with Advanced Neural Networks</h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                </div>
            </div>
        </div>
    </div>
</Layout>
