---
import PageTitle from "../../components/PageTitle.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    // Define las rutas dinámicas que deseas generar.
    const paths = [{ params: { title: "deepvision-enhancing-image-recognition-with-neural-networks" } }, { params: { title: "ai-consulting" } }, { params: { title: "ml-modeling" } }];

    return paths;
}
---

<Layout>
    <PageTitle title={Astro.params.title} baseTitle="Proyectos" baseRoute="/projects" />
    <div id="project-10331" class="single-project-wrapper project-view-advanced">
        <section>
            <div class="content-wrapper content-wrapper-sidebar-position-none">
                <!-- Content Container -->
                <div class="content">
                    <div class="single-project">
                        <div class="project-post-gallery">
                            <div class="project-logo"><img loading="lazy" width="181" height="67" src="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/05/2-6.png" alt="2 6" /></div>
                        </div>
                        <div class="project-post-content">
                            <div class="project-description">
                                <h2>Brief and project description</h2>
                                <p><strong>Integrating neural network models into existing systems or software applications, enabling businesses to leverage AI capabilities seamlessly.</strong></p>
                                <p>
                                    In today's fast-paced and data-driven world, businesses are constantly seeking innovative ways to gain a competitive edge, make smarter decisions, and deliver
                                    exceptional customer experiences.
                                </p>
                                <ul>
                                    <li>Pacific hake false trevally queen parrotfish black</li>
                                    <li>Prickleback moss revally queen parrotfish black</li>
                                    <li>Queen parrotfish black prickleback moss pacific</li>
                                    <li>Hake false trevally queen</li>
                                </ul>
                            </div>
                            <div class="project-post-meta-wrapper">
                                <div class="project-post-meta">
                                    <div class="project-post-meta-item"><div class="project-post-meta-label">Strategy</div>Creating project<br />Mobile app</div><div class="project-post-meta-item">
                                        <div class="project-post-meta-label">Design</div>Artificial Intellegance<br />Neural Networks
                                    </div><div class="project-post-meta-item"><div class="project-post-meta-label">Client</div>AIX Team</div>
                                </div>
                            </div>
                            <div class="project-post-button">
                                <a href="#" class="neuros-button"
                                    >Live project<span class="icon-button-arrow left"></span><span class="icon-button-arrow right"></span>
                                    <span class="button-inner"></span></a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="content-wrapper content-wrapper-sidebar-position-none">
                <div class="content">
                    <div class="single-project-advanced">
                        <div data-elementor-type="wp-post" data-elementor-id="10331" class="elementor elementor-10331">
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-685a3bcb elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
                                data-id="685a3bcb"
                                data-element_type="section"
                                data-settings='{"stretch_section":"section-stretched"}'
                                style="width: 1256px; left: -40px;"
                            >
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6e712761" data-id="6e712761" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <section
                                                    data-parallax="scroll"
                                                    class="elementor-section elementor-inner-section elementor-element elementor-element-ef2a9d2 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default"
                                                    data-id="ef2a9d2"
                                                    data-element_type="section"
                                                    data-settings='{"background_background":"classic"}'
                                                    style="background-position-y: -498.9px;"
                                                >
                                                    <div class="elementor-container elementor-column-gap-default">
                                                        <div class="elementor-row">
                                                            <div
                                                                class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-5659df0"
                                                                data-id="5659df0"
                                                                data-element_type="column"
                                                            >
                                                                <div class="elementor-widget-wrap elementor-element-populated">
                                                                    <div
                                                                        class="elementor-element elementor-element-3572c82 elementor-widget elementor-widget-image"
                                                                        data-id="3572c82"
                                                                        data-element_type="widget"
                                                                        data-widget_type="image.default"
                                                                    >
                                                                        <div class="elementor-widget-container">
                                                                            <img
                                                                                loading="lazy"
                                                                                decoding="async"
                                                                                width="628"
                                                                                height="105"
                                                                                src="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/03/Logo.png"
                                                                                class="attachment-large size-large wp-image-5235"
                                                                                alt=""
                                                                                srcset="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/03/Logo.png 628w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/03/Logo-600x100.png 600w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/03/Logo-300x50.png 300w"
                                                                                sizes="(max-width: 628px) 100vw, 628px"
                                                                            />
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="elementor-element elementor-element-1a175d9 neuros-video-button-alignment-right neuros-video-button-decoration-on elementor-absolute elementor-widget elementor-widget-neuros_video_button"
                                                                        data-id="1a175d9"
                                                                        data-element_type="widget"
                                                                        data-settings='{"youtube_url":"https:\/\/www.youtube.com\/watch?v=XHOmBV4js_E","_position":"absolute","video_type":"youtube","controls":"yes"}'
                                                                        data-widget_type="neuros_video_button.default"
                                                                    >
                                                                        <div class="elementor-widget-container">
                                                                            <div class="neuros_video_button_container">
                                                                                <div class="neuros_video_button_widget">
                                                                                    <div class="elementor-wrapper elementor-open-lightbox">
                                                                                        <div
                                                                                            class="elementor-custom-embed-image-overlay"
                                                                                            data-elementor-open-lightbox="yes"
                                                                                            data-elementor-lightbox='{"type":"video","videoType":"youtube","url":"https:\/\/www.youtube-nocookie.com\/embed\/XHOmBV4js_E?feature=oembed&wmode=opaque","modalOptions":{"id":"elementor-lightbox-1a175d9","videoAspectRatio":"169"}}'
                                                                                        >
                                                                                            <div class="elementor-custom-embed-play" role="button">
                                                                                                <div class="icon-play-wrapper">
                                                                                                    <i class="eicon-play" aria-hidden="true"></i>
                                                                                                </div>

                                                                                                <span class="neuros_button_text">Watch video</span>
                                                                                                <span class="elementor-screen-only">Watch video</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-86c2611 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="86c2611"
                                data-element_type="section"
                            >
                                <div class="elementor-container elementor-column-gap-wide">
                                    <div class="elementor-row">
                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-f7bff7e" data-id="f7bff7e" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div
                                                    class="elementor-element elementor-element-872be93 elementor-widget elementor-widget-neuros_heading"
                                                    data-id="872be93"
                                                    data-element_type="widget"
                                                    data-widget_type="neuros_heading.default"
                                                >
                                                    <div class="elementor-widget-container">
                                                        <div class="neuros-heading-widget">
                                                            <h3 class="neuros-heading"><span class="neuros-heading-content has_gradient_color_text">Process</span></h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-51c38f5" data-id="51c38f5" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div
                                                    class="elementor-element elementor-element-a54cb0a elementor-widget elementor-widget-text-editor"
                                                    data-id="a54cb0a"
                                                    data-element_type="widget"
                                                    data-widget_type="text-editor.default"
                                                >
                                                    <div class="elementor-widget-container">
                                                        <p>
                                                            <strong
                                                                >In today’s fast-paced and data-driven world, businesses are constantly seeking innovative ways to gain a competitive edge, make smarter
                                                                decisions, and deliver exceptional customer experiences. One technology that is transforming industries across the globe is neural
                                                                networks. Harnessing the power of artificial intelligence, neural networks have the ability to analyze vast amounts of data, identify
                                                                complex patterns, and make accurate predictions, enabling businesses to unlock new opportunities and drive growth.</strong
                                                            >
                                                        </p><p>
                                                            At our company, we specialize in providing comprehensive neural network services that can revolutionize your business. Whether you’re
                                                            looking to enhance your data analysis capabilities, automate repetitive tasks, improve customer engagement, or optimize operational
                                                            processes, our team of experts is here to help you leverage the full potential of neural networks.<br />Data lies at the heart of neural
                                                            networks, and our services start with understanding your unique data landscape. We work closely with you to identify and collect relevant
                                                            data sources, ensuring that your neural network models are built on a solid foundation. Our data scientists employ cutting-edge techniques
                                                            to preprocess and clean the data, making it ready for training the neural network models.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div
                                                    class="elementor-element elementor-element-1f610dd elementor-widget elementor-widget-wp-widget-block"
                                                    data-id="1f610dd"
                                                    data-element_type="widget"
                                                    data-widget_type="wp-widget-block.default"
                                                >
                                                    <div class="elementor-widget-container">
                                                        <figure class="wp-block-pullquote has-text-align-left has-background" style="background-color:#f0f2f4">
                                                            <blockquote>
                                                                <p>
                                                                    Artificial Intelligence refers to the development of computer systems that can perform tasks that would typically require human
                                                                    intelligence. It involves the creation of algorithms and models that enable machines to learn, reason, perceive.
                                                                </p><cite>Adam Peterson</cite>
                                                            </blockquote>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-bec3108 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
                                data-id="bec3108"
                                data-element_type="section"
                                data-settings='{"stretch_section":"section-stretched"}'
                                style="width: 1256px; left: -40px;"
                            >
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8a45e42" data-id="8a45e42" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div
                                                    class="elementor-element elementor-element-4806bd3 elementor-widget elementor-widget-neuros_gallery"
                                                    data-id="4806bd3"
                                                    data-element_type="widget"
                                                    data-widget_type="neuros_gallery.default"
                                                >
                                                    <div class="elementor-widget-container">
                                                        <div class="neuros-gallery-widget">
                                                            <div class="cursor_drag" style="display: none; left: 1228px; top: 914px;"><div class="cursor-bg"></div><span>Drag</span></div>
                                                            <div class="archive-listing">
                                                                <div
                                                                    class="gallery-wrapper owl-carousel owl-theme owl-loaded owl-drag"
                                                                    data-slider-options='{"items":2,"nav":false,"dots":false,"autoplayHoverPause":true,"autoplay":false,"autoplaySpeed":300,"autoplayTimeout":5000,"loop":true,"speed":500,"dotsContainer":".owl-dots-4806bd3","navContainer":".owl-nav-4806bd3"}'
                                                                >
                                                                    <div class="owl-stage-outer">
                                                                        <div class="owl-stage" style="transform: translate3d(-1809px, 0px, 0px); transition: all; width: 4824px; cursor: auto;">
                                                                            <div class="owl-item cloned" style="width: 603px;">
                                                                                <div class="gallery-item-wrapper slider-item elementor-repeater-item-33017dd">
                                                                                    <div class="gallery-item">
                                                                                        <a
                                                                                            class="gallery-item-link"
                                                                                            href="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5.jpg"
                                                                                            data-elementor-open-lightbox="yes"
                                                                                            data-elementor-lightbox-slideshow="4806bd3"
                                                                                            data-elementor-lightbox-title="Ooze (25) 5"
                                                                                            data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6Mzk0MywidXJsIjoiaHR0cHM6XC9cL2RlbW8uYXJ0dXJlYW5lYy5jb21cL3RoZW1lc1wvbmV1cm9zXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDI0XC8wMlwvT296ZS0yNS01LmpwZyIsInNsaWRlc2hvdyI6IjQ4MDZiZDMifQ%3D%3D"
                                                                                            style="cursor: auto;"
                                                                                            ><span class="gallery-item-media"
                                                                                                ><img
                                                                                                    loading="lazy"
                                                                                                    decoding="async"
                                                                                                    width="1024"
                                                                                                    height="1024"
                                                                                                    src="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-1024x1024.jpg"
                                                                                                    class="attachment-large size-large wp-image-3943"
                                                                                                    alt=""
                                                                                                    srcset="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-1024x1024.jpg 1024w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-640x640.jpg 640w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-100x100.jpg 100w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-600x600.jpg 600w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-960x960.jpg 960w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-150x150.jpg 150w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-300x300.jpg 300w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-768x768.jpg 768w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-1340x1340.jpg 1340w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-500x500.jpg 500w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-384x384.jpg 384w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-320x320.jpg 320w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-1920x1920.jpg 1920w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5.jpg 1995w"
                                                                                                    sizes="(max-width: 1024px) 100vw, 1024px"
                                                                                                /></span
                                                                                            ><span class="gallery-item-content-wrapper"
                                                                                                ><span class="gallery-item-content"><span class="post-title">Secure Shield</span></span></span
                                                                                            ></a
                                                                                        >
                                                                                    </div>
                                                                                </div>
                                                                            </div><div class="owl-item cloned" style="width: 603px;">
                                                                                <div class="gallery-item-wrapper slider-item elementor-repeater-item-ed1e887">
                                                                                    <div class="gallery-item">
                                                                                        <a
                                                                                            class="gallery-item-link"
                                                                                            href="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1.jpg"
                                                                                            data-elementor-open-lightbox="yes"
                                                                                            data-elementor-lightbox-slideshow="4806bd3"
                                                                                            data-elementor-lightbox-title="Ooze (40) 5 (1)"
                                                                                            data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6Mzk0OCwidXJsIjoiaHR0cHM6XC9cL2RlbW8uYXJ0dXJlYW5lYy5jb21cL3RoZW1lc1wvbmV1cm9zXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDI0XC8wMlwvT296ZS00MC01LTEuanBnIiwic2xpZGVzaG93IjoiNDgwNmJkMyJ9"
                                                                                            style="cursor: auto;"
                                                                                            ><span class="gallery-item-media"
                                                                                                ><img
                                                                                                    loading="lazy"
                                                                                                    decoding="async"
                                                                                                    width="1024"
                                                                                                    height="1024"
                                                                                                    src="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-1024x1024.jpg"
                                                                                                    class="attachment-large size-large wp-image-3948"
                                                                                                    alt=""
                                                                                                    srcset="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-1024x1024.jpg 1024w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-640x640.jpg 640w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-100x100.jpg 100w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-600x600.jpg 600w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-960x960.jpg 960w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-150x150.jpg 150w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-300x300.jpg 300w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-768x768.jpg 768w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-1340x1340.jpg 1340w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-500x500.jpg 500w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-384x384.jpg 384w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-320x320.jpg 320w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-1920x1920.jpg 1920w"
                                                                                                    sizes="(max-width: 1024px) 100vw, 1024px"
                                                                                                /></span
                                                                                            ><span class="gallery-item-content-wrapper"
                                                                                                ><span class="gallery-item-content"><span class="post-title">Smart HomeX</span></span></span
                                                                                            ></a
                                                                                        >
                                                                                    </div>
                                                                                </div>
                                                                            </div><div class="owl-item" style="width: 603px;">
                                                                                <div class="gallery-item-wrapper slider-item elementor-repeater-item-6b3d5d6">
                                                                                    <div class="gallery-item">
                                                                                        <a
                                                                                            class="gallery-item-link"
                                                                                            href="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5.jpg"
                                                                                            data-elementor-open-lightbox="yes"
                                                                                            data-elementor-lightbox-slideshow="4806bd3"
                                                                                            data-elementor-lightbox-title="Ooze (25) 5"
                                                                                            data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6Mzk0MywidXJsIjoiaHR0cHM6XC9cL2RlbW8uYXJ0dXJlYW5lYy5jb21cL3RoZW1lc1wvbmV1cm9zXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDI0XC8wMlwvT296ZS0yNS01LmpwZyIsInNsaWRlc2hvdyI6IjQ4MDZiZDMifQ%3D%3D"
                                                                                            style="cursor: auto;"
                                                                                            ><span class="gallery-item-media"
                                                                                                ><img
                                                                                                    loading="lazy"
                                                                                                    decoding="async"
                                                                                                    width="1024"
                                                                                                    height="1024"
                                                                                                    src="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-1024x1024.jpg"
                                                                                                    class="attachment-large size-large wp-image-3943"
                                                                                                    alt=""
                                                                                                    srcset="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-1024x1024.jpg 1024w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-640x640.jpg 640w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-100x100.jpg 100w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-600x600.jpg 600w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-960x960.jpg 960w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-150x150.jpg 150w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-300x300.jpg 300w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-768x768.jpg 768w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-1340x1340.jpg 1340w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-500x500.jpg 500w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-384x384.jpg 384w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-320x320.jpg 320w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-1920x1920.jpg 1920w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5.jpg 1995w"
                                                                                                    sizes="(max-width: 1024px) 100vw, 1024px"
                                                                                                /></span
                                                                                            ><span class="gallery-item-content-wrapper"
                                                                                                ><span class="gallery-item-content"><span class="post-title">Secure Shield</span></span></span
                                                                                            ></a
                                                                                        >
                                                                                    </div>
                                                                                </div>
                                                                            </div><div class="owl-item active" style="width: 603px;">
                                                                                <div class="gallery-item-wrapper slider-item elementor-repeater-item-574b5b3">
                                                                                    <div class="gallery-item">
                                                                                        <a
                                                                                            class="gallery-item-link"
                                                                                            href="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1.jpg"
                                                                                            data-elementor-open-lightbox="yes"
                                                                                            data-elementor-lightbox-slideshow="4806bd3"
                                                                                            data-elementor-lightbox-title="Ooze (40) 5 (1)"
                                                                                            data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6Mzk0OCwidXJsIjoiaHR0cHM6XC9cL2RlbW8uYXJ0dXJlYW5lYy5jb21cL3RoZW1lc1wvbmV1cm9zXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDI0XC8wMlwvT296ZS00MC01LTEuanBnIiwic2xpZGVzaG93IjoiNDgwNmJkMyJ9"
                                                                                            style="cursor: auto;"
                                                                                            ><span class="gallery-item-media"
                                                                                                ><img
                                                                                                    loading="lazy"
                                                                                                    decoding="async"
                                                                                                    width="1024"
                                                                                                    height="1024"
                                                                                                    src="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-1024x1024.jpg"
                                                                                                    class="attachment-large size-large wp-image-3948"
                                                                                                    alt=""
                                                                                                    srcset="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-1024x1024.jpg 1024w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-640x640.jpg 640w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-100x100.jpg 100w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-600x600.jpg 600w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-960x960.jpg 960w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-150x150.jpg 150w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-300x300.jpg 300w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-768x768.jpg 768w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-1340x1340.jpg 1340w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-500x500.jpg 500w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-384x384.jpg 384w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-320x320.jpg 320w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-1920x1920.jpg 1920w"
                                                                                                    sizes="(max-width: 1024px) 100vw, 1024px"
                                                                                                /></span
                                                                                            ><span class="gallery-item-content-wrapper"
                                                                                                ><span class="gallery-item-content"><span class="post-title">Smart HomeX</span></span></span
                                                                                            ></a
                                                                                        >
                                                                                    </div>
                                                                                </div>
                                                                            </div><div class="owl-item active" style="width: 603px;">
                                                                                <div class="gallery-item-wrapper slider-item elementor-repeater-item-33017dd">
                                                                                    <div class="gallery-item">
                                                                                        <a
                                                                                            class="gallery-item-link"
                                                                                            href="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5.jpg"
                                                                                            data-elementor-open-lightbox="yes"
                                                                                            data-elementor-lightbox-slideshow="4806bd3"
                                                                                            data-elementor-lightbox-title="Ooze (25) 5"
                                                                                            data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6Mzk0MywidXJsIjoiaHR0cHM6XC9cL2RlbW8uYXJ0dXJlYW5lYy5jb21cL3RoZW1lc1wvbmV1cm9zXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDI0XC8wMlwvT296ZS0yNS01LmpwZyIsInNsaWRlc2hvdyI6IjQ4MDZiZDMifQ%3D%3D"
                                                                                            style="cursor: auto;"
                                                                                            ><span class="gallery-item-media"
                                                                                                ><img
                                                                                                    loading="lazy"
                                                                                                    decoding="async"
                                                                                                    width="1024"
                                                                                                    height="1024"
                                                                                                    src="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-1024x1024.jpg"
                                                                                                    class="attachment-large size-large wp-image-3943"
                                                                                                    alt=""
                                                                                                    srcset="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-1024x1024.jpg 1024w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-640x640.jpg 640w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-100x100.jpg 100w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-600x600.jpg 600w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-960x960.jpg 960w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-150x150.jpg 150w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-300x300.jpg 300w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-768x768.jpg 768w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-1340x1340.jpg 1340w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-500x500.jpg 500w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-384x384.jpg 384w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-320x320.jpg 320w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-1920x1920.jpg 1920w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5.jpg 1995w"
                                                                                                    sizes="(max-width: 1024px) 100vw, 1024px"
                                                                                                /></span
                                                                                            ><span class="gallery-item-content-wrapper"
                                                                                                ><span class="gallery-item-content"><span class="post-title">Secure Shield</span></span></span
                                                                                            ></a
                                                                                        >
                                                                                    </div>
                                                                                </div>
                                                                            </div><div class="owl-item" style="width: 603px;">
                                                                                <div class="gallery-item-wrapper slider-item elementor-repeater-item-ed1e887">
                                                                                    <div class="gallery-item">
                                                                                        <a
                                                                                            class="gallery-item-link"
                                                                                            href="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1.jpg"
                                                                                            data-elementor-open-lightbox="yes"
                                                                                            data-elementor-lightbox-slideshow="4806bd3"
                                                                                            data-elementor-lightbox-title="Ooze (40) 5 (1)"
                                                                                            data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6Mzk0OCwidXJsIjoiaHR0cHM6XC9cL2RlbW8uYXJ0dXJlYW5lYy5jb21cL3RoZW1lc1wvbmV1cm9zXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDI0XC8wMlwvT296ZS00MC01LTEuanBnIiwic2xpZGVzaG93IjoiNDgwNmJkMyJ9"
                                                                                            style="cursor: auto;"
                                                                                            ><span class="gallery-item-media"
                                                                                                ><img
                                                                                                    loading="lazy"
                                                                                                    decoding="async"
                                                                                                    width="1024"
                                                                                                    height="1024"
                                                                                                    src="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-1024x1024.jpg"
                                                                                                    class="attachment-large size-large wp-image-3948"
                                                                                                    alt=""
                                                                                                    srcset="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-1024x1024.jpg 1024w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-640x640.jpg 640w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-100x100.jpg 100w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-600x600.jpg 600w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-960x960.jpg 960w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-150x150.jpg 150w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-300x300.jpg 300w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-768x768.jpg 768w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-1340x1340.jpg 1340w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-500x500.jpg 500w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-384x384.jpg 384w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-320x320.jpg 320w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-1920x1920.jpg 1920w"
                                                                                                    sizes="(max-width: 1024px) 100vw, 1024px"
                                                                                                /></span
                                                                                            ><span class="gallery-item-content-wrapper"
                                                                                                ><span class="gallery-item-content"><span class="post-title">Smart HomeX</span></span></span
                                                                                            ></a
                                                                                        >
                                                                                    </div>
                                                                                </div>
                                                                            </div><div class="owl-item cloned" style="width: 603px;">
                                                                                <div class="gallery-item-wrapper slider-item elementor-repeater-item-6b3d5d6">
                                                                                    <div class="gallery-item">
                                                                                        <a
                                                                                            class="gallery-item-link"
                                                                                            href="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5.jpg"
                                                                                            data-elementor-open-lightbox="yes"
                                                                                            data-elementor-lightbox-slideshow="4806bd3"
                                                                                            data-elementor-lightbox-title="Ooze (25) 5"
                                                                                            data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6Mzk0MywidXJsIjoiaHR0cHM6XC9cL2RlbW8uYXJ0dXJlYW5lYy5jb21cL3RoZW1lc1wvbmV1cm9zXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDI0XC8wMlwvT296ZS0yNS01LmpwZyIsInNsaWRlc2hvdyI6IjQ4MDZiZDMifQ%3D%3D"
                                                                                            style="cursor: auto;"
                                                                                            ><span class="gallery-item-media"
                                                                                                ><img
                                                                                                    loading="lazy"
                                                                                                    decoding="async"
                                                                                                    width="1024"
                                                                                                    height="1024"
                                                                                                    src="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-1024x1024.jpg"
                                                                                                    class="attachment-large size-large wp-image-3943"
                                                                                                    alt=""
                                                                                                    srcset="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-1024x1024.jpg 1024w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-640x640.jpg 640w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-100x100.jpg 100w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-600x600.jpg 600w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-960x960.jpg 960w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-150x150.jpg 150w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-300x300.jpg 300w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-768x768.jpg 768w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-1340x1340.jpg 1340w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-500x500.jpg 500w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-384x384.jpg 384w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-320x320.jpg 320w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5-1920x1920.jpg 1920w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-25-5.jpg 1995w"
                                                                                                    sizes="(max-width: 1024px) 100vw, 1024px"
                                                                                                /></span
                                                                                            ><span class="gallery-item-content-wrapper"
                                                                                                ><span class="gallery-item-content"><span class="post-title">Secure Shield</span></span></span
                                                                                            ></a
                                                                                        >
                                                                                    </div>
                                                                                </div>
                                                                            </div><div class="owl-item cloned" style="width: 603px;">
                                                                                <div class="gallery-item-wrapper slider-item elementor-repeater-item-574b5b3">
                                                                                    <div class="gallery-item">
                                                                                        <a
                                                                                            class="gallery-item-link"
                                                                                            href="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1.jpg"
                                                                                            data-elementor-open-lightbox="yes"
                                                                                            data-elementor-lightbox-slideshow="4806bd3"
                                                                                            data-elementor-lightbox-title="Ooze (40) 5 (1)"
                                                                                            data-e-action-hash="#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6Mzk0OCwidXJsIjoiaHR0cHM6XC9cL2RlbW8uYXJ0dXJlYW5lYy5jb21cL3RoZW1lc1wvbmV1cm9zXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDI0XC8wMlwvT296ZS00MC01LTEuanBnIiwic2xpZGVzaG93IjoiNDgwNmJkMyJ9"
                                                                                            style="cursor: auto;"
                                                                                            ><span class="gallery-item-media"
                                                                                                ><img
                                                                                                    loading="lazy"
                                                                                                    decoding="async"
                                                                                                    width="1024"
                                                                                                    height="1024"
                                                                                                    src="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-1024x1024.jpg"
                                                                                                    class="attachment-large size-large wp-image-3948"
                                                                                                    alt=""
                                                                                                    srcset="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-1024x1024.jpg 1024w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-640x640.jpg 640w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-100x100.jpg 100w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-600x600.jpg 600w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-960x960.jpg 960w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-150x150.jpg 150w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-300x300.jpg 300w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-768x768.jpg 768w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-1340x1340.jpg 1340w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-500x500.jpg 500w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-384x384.jpg 384w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-320x320.jpg 320w, https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/02/Ooze-40-5-1-1920x1920.jpg 1920w"
                                                                                                    sizes="(max-width: 1024px) 100vw, 1024px"
                                                                                                /></span
                                                                                            ><span class="gallery-item-content-wrapper"
                                                                                                ><span class="gallery-item-content"><span class="post-title">Smart HomeX</span></span></span
                                                                                            ></a
                                                                                        >
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-34f1bc4 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="34f1bc4"
                                data-element_type="section"
                            >
                                <div class="elementor-container elementor-column-gap-wide">
                                    <div class="elementor-row">
                                        <div
                                            class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-01bdece elementor-hidden-tablet_extra elementor-hidden-tablet elementor-hidden-mobile_extra elementor-hidden-mobile"
                                            data-id="01bdece"
                                            data-element_type="column"
                                        >
                                            <div class="elementor-widget-wrap"></div>
                                        </div>
                                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-8f833c9" data-id="8f833c9" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div
                                                    class="elementor-element elementor-element-f384dc9 elementor-widget elementor-widget-neuros_heading"
                                                    data-id="f384dc9"
                                                    data-element_type="widget"
                                                    data-widget_type="neuros_heading.default"
                                                >
                                                    <div class="elementor-widget-container">
                                                        <div class="neuros-heading-widget">
                                                            <h2 class="neuros-heading"><span class="neuros-heading-content has_gradient_color_text">Key Outcomes</span></h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="elementor-element elementor-element-5ab8f64 elementor-widget elementor-widget-text-editor"
                                                    data-id="5ab8f64"
                                                    data-element_type="widget"
                                                    data-widget_type="text-editor.default"
                                                >
                                                    <div class="elementor-widget-container">
                                                        <p>
                                                            Data lies at the heart of neural networks, and our services start with understanding your unique data landscape. We work closely with you to
                                                            identify and collect relevant data sources, ensuring that your neural network models are built on a solid foundation. Our data scientists
                                                            employ cutting-edge techniques to preprocess and clean the data, making it ready for training the neural network models.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div
                                                    class="elementor-element elementor-element-b046dc3 elementor-widget elementor-widget-text-editor"
                                                    data-id="b046dc3"
                                                    data-element_type="widget"
                                                    data-widget_type="text-editor.default"
                                                >
                                                    <div class="elementor-widget-container">
                                                        <ul>
                                                            <li>Pacific hake false trevally queen parrotfish black</li><li>Prickleback moss revally queen parrotfish black</li><li>
                                                                Queen parrotfish black prickleback moss pacific
                                                            </li><li>Hake false trevally queen</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-20cec59" data-id="20cec59" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div
                                                    class="elementor-element elementor-element-027e4b2 elementor-widget__width-auto elementor-widget elementor-widget-counter"
                                                    data-id="027e4b2"
                                                    data-element_type="widget"
                                                    data-widget_type="counter.default"
                                                >
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-counter">
                                                            <div class="elementor-counter-title">Savings in cost on video<br /> production</div>
                                                            <div class="elementor-counter-number-wrapper">
                                                                <span class="elementor-counter-number-prefix"></span>
                                                                <span class="elementor-counter-number" data-duration="2000" data-to-value="90" data-from-value="0" data-delimiter=",">0</span>
                                                                <span class="elementor-counter-number-suffix">%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="elementor-element elementor-element-c940419 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                                                    data-id="c940419"
                                                    data-element_type="widget"
                                                    data-widget_type="divider.default"
                                                >
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-divider">
                                                            <span class="elementor-divider-separator"> </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="elementor-element elementor-element-7437aca elementor-widget__width-auto elementor-widget elementor-widget-counter"
                                                    data-id="7437aca"
                                                    data-element_type="widget"
                                                    data-widget_type="counter.default"
                                                >
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-counter">
                                                            <div class="elementor-counter-title">Increase in learning</div>
                                                            <div class="elementor-counter-number-wrapper">
                                                                <span class="elementor-counter-number-prefix"></span>
                                                                <span class="elementor-counter-number" data-duration="2000" data-to-value="250" data-from-value="0" data-delimiter=",">0</span>
                                                                <span class="elementor-counter-number-suffix">+</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div><nav class="navigation post-navigation">
                        <ul class="post-navigation-list">
                            <li class="post-navigation-item prev-post">
                                <div class="post-navigation-link">
                                    <a href="https://demo.artureanec.com/themes/neuros/projects/healthcareai-personalized-diagnostics-and-treatment-recommendations-with-neural-networks/"
                                        >Prev project</a
                                    >
                                </div><div class="post-navigation-block">
                                    <a
                                        href="https://demo.artureanec.com/themes/neuros/projects/healthcareai-personalized-diagnostics-and-treatment-recommendations-with-neural-networks/"
                                        class="post-navigation-image"
                                        ><img
                                            src="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/01/alexandru-bogdan-ghita-iXXfSw_1J9k-unsplash-2-150x150.jpg"
                                            alt="HealthCareAI: Personalized diagnostics and treatment recommendations with Neural Networks"
                                        /></a
                                    ><div class="post-navigation-content">
                                        <div class="post-navigation-categories">
                                            <a href="https://demo.artureanec.com/themes/neuros/neuros_project_category/modern/" class="taxonomy">Modern</a>
                                        </div><div class="post-navigation-title">
                                            <a
                                                href="https://demo.artureanec.com/themes/neuros/projects/healthcareai-personalized-diagnostics-and-treatment-recommendations-with-neural-networks/"
                                                title="HealthCareAI: Personalized diagnostics and treatment recommendations with Neural Networks">HealthCareAI: Personalized diagnostics</a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </li><li class="post-navigation-item archive-icon-link with-labels"><a href="https://demo.artureanec.com/themes/neuros/projects/" class="archive-icon"></a></li><li
                                class="post-navigation-item next-post"
                            >
                                <div class="post-navigation-link">
                                    <a href="https://demo.artureanec.com/themes/neuros/projects/voicemate-customizable-ai-voice-for-every-message/">Next project</a>
                                </div><div class="post-navigation-block">
                                    <div class="post-navigation-content">
                                        <div class="post-navigation-categories"><a href="https://demo.artureanec.com/themes/neuros/neuros_project_category/audio/" class="taxonomy">Audio</a></div><div
                                            class="post-navigation-title"
                                        >
                                            <a
                                                href="https://demo.artureanec.com/themes/neuros/projects/voicemate-customizable-ai-voice-for-every-message/"
                                                title="Voicemate: Customizable AI Voice for Every Message">Voicemate: Customizable AI</a
                                            >
                                        </div>
                                    </div><a href="https://demo.artureanec.com/themes/neuros/projects/voicemate-customizable-ai-voice-for-every-message/" class="post-navigation-image"
                                        ><img
                                            src="https://demo.artureanec.com/themes/neuros/wp-content/uploads/2024/03/home-4-4-min-150x150.jpg"
                                            alt="Voicemate: Customizable AI Voice for Every Message"
                                        /></a
                                    >
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </div>
</Layout>
